n8n/workflows/01-main-flow.json
{
  "updatedAt": "2026-04-14T19:26:11.566Z",
  "createdAt": "2026-04-13T18:16:09.784Z",
  "id": "uJqVXqmvKIR8iJaV",
  "name": "Socio - Fluxo Principal WhatsApp",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "2df8f305-2c8e-41f6-a28a-7f7601da68b3",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -2640,
        624
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "whatsapp"
    },
    {
      "id": "ff0350eb-414c-4009-8df5-992a8779777b",
      "name": "Responder 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -2416,
        400
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\":true}",
        "options": {}
      }
    },
    {
      "id": "09ba3d08-03d9-4010-ba44-7d61fbe607a1",
      "name": "É mensagem recebida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2416,
        624
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.event }}",
              "value2": "messages.upsert"
            }
          ],
          "boolean": [
            {
              "value1": "={{ $json.body.data.key.fromMe }}"
            }
          ]
        }
      }
    },
    {
      "id": "458270aa-621e-4300-8b15-942a0d500e67",
      "name": "Extrair dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2208,
        624
      ],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst data = body.data;\nconst key = data.key;\nconst remoteJid = key.remoteJid;\nlet phone = remoteJid.replace(/@.*$/, '');\nif (!phone.startsWith('55')) phone = '55' + phone;\nlet text = '';\nlet isAudio = false;\nif (data.messageType === 'conversation') {\n  text = data.message?.conversation || '';\n} else if (data.messageType === 'extendedTextMessage') {\n  text = data.message?.extendedTextMessage?.text || '';\n} else if (data.messageType === 'audioMessage') {\n  isAudio = true;\n  text = '__audio__';\n}\nconst phoneShort = phone.startsWith('55') ? phone.slice(2) : phone;\nreturn [{ json: { phone, phoneShort, remoteJid, pushName: data.pushName || 'Amigo', text: text.trim(), isAudio, messageKey: key, instanceName: body.instance } }];"
      }
    },
    {
      "id": "6a694f44-324e-4c12-903a-2af7e0ee4a2f",
      "name": "Tem texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1984,
        624
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.text !== '' || $json.isAudio === true }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "44e12a57-a060-4ec3-a10c-6a58b2f075ee",
      "name": "Buscar usuário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1536,
        624
      ],
      "parameters": {
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?phone=in.({{ $json.phone }},{{ $json.phoneShort }})&select=id,name,email,profile_type,monthly_goal,onboarding_step&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            }
          ]
        },
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "7f76b33d-0e99-49ba-a07c-0c68592cef9f",
      "name": "Usuário existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1328,
        624
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "c51577f0-83c0-418f-a454-248828831d48",
      "name": "Criar usuário novo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1104,
        848
      ],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ phone: $('Extrair dados').first().json.phone, name: $('Extrair dados').first().json.pushName, onboarding_step: 'aguardando_email', profile_type: 'outro' }) }}",
        "options": {}
      }
    },
    {
      "id": "ca4e5e07-d2b2-416a-9869-e97d3aea462e",
      "name": "Enviar boas-vindas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -880,
        848
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('Extrair dados').first().json.remoteJid, text: 'Olá, ' + $('Extrair dados').first().json.pushName + '! 👋 Sou o *Meu Sócio*, seu parceiro de negócios no WhatsApp.\\n\\nVocê já tem conta no *Meu Sócio app*? Se sim, me diga seu *email de cadastro* para eu vincular sua conta e tudo ficar sincronizado! 📲\\n\\nSe não tem conta ainda, responda *não* 😊' }) }}",
        "options": {}
      }
    },
    {
      "id": "c4f205b5-b007-4d26-a888-af72485ee04b",
      "name": "Buscar últimas transações",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1104,
        768
      ],
      "parameters": {
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/transactions?user_id=eq.{{ $('Buscar usuário').first().json.id }}&order=created_at.desc&limit=5&select=type,amount,description,competence_date,client_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            }
          ]
        },
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "762a074f-83dc-467e-8ef4-cf54c4ac2fc3",
      "name": "Buscar agenda proximos dias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1104,
        928
      ],
      "parameters": {
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/appointments?user_id=eq.{{ $('Buscar usuário').first().json.id }}&scheduled_at=gte.{{ new Date().toISOString().substring(0,10) }}T00:00:00&scheduled_at=lte.{{ new Date(Date.now()+7*86400000).toISOString().substring(0,10) }}T23:59:59&select=service,scheduled_at,notes,client_name&order=scheduled_at.asc&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            }
          ]
        },
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "d350fd66-18b4-4b94-a43b-19970fbeec8f",
      "name": "Buscar tarefas pendentes ctx",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1104,
        1088
      ],
      "parameters": {
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/tasks?user_id=eq.{{ $('Buscar usuário').first().json.id }}&completed_at=is.null&select=title,priority,due_date&order=priority.asc&limit=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            }
          ]
        },
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "0c24274c-43cc-4da9-ae5a-2624a863cabc",
      "name": "GPT processar mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -224,
        864
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.gptBody }}",
        "options": {}
      }
    },
    {
      "id": "6c489940-fb0b-470e-b489-cfef5e5d0c9e",
      "name": "Interpretar GPT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        864
      ],
      "parameters": {
        "jsCode": "const content = $input.first().json.choices[0].message.content.trim();\nconst userId = $('Buscar usuário').first().json.id;\nconst phone = $('Extrair dados').first().json.remoteJid;\ntry {\n  const jsonMatch = content.match(/\\{[^{}]+\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    if (parsed.intent === 'registrar_receita') {\n      const rt = 'Show! 💰 Receita anotada:\\n\\n*+R$ ' + Number(parsed.amount||0).toFixed(2).replace('.',',') + '* — ' + (parsed.description||parsed.client_name||'serviço') + '\\n📅 Hoje\\n\\n🔗 https://socio-painel.vercel.app';\n      return [{ json: { intent: parsed.intent, amount: parsed.amount, description: parsed.description, client_name: parsed.client_name||'', responseText: rt, userId, phone } }];\n    }\n    if (parsed.intent === 'registrar_despesa') {\n      const rt = 'Anotado! 📝 Despesa:\\n\\n*-R$ ' + Number(parsed.amount||0).toFixed(2).replace('.',',') + '* — ' + (parsed.description||'despesa') + '\\n📅 Hoje\\n\\n🔗 https://socio-painel.vercel.app';\n      return [{ json: { intent: parsed.intent, amount: parsed.amount, description: parsed.description, client_name: parsed.client_name||'', responseText: rt, userId, phone } }];\n    }\n    if (parsed.intent === 'registrar_agendamento') {\n      const rt = '📅 *Agendamento confirmado!*\\n\\n👤 ' + (parsed.client_name||'') + '\\n📋 ' + (parsed.service||'') + '\\n🕐 ' + (parsed.scheduled_at||'').slice(0,16).replace('T',' ') + '\\n💰 R$ ' + Number(parsed.price||0).toFixed(2).replace('.',',') + '\\n\\n🔗 https://socio-painel.vercel.app/agenda';\n      return [{ json: { intent: parsed.intent, service: parsed.service, client_name: parsed.client_name, scheduled_at: parsed.scheduled_at, price: parsed.price||0, responseText: rt, userId, phone } }];\n    }\n    if (parsed.intent === 'definir_meta') {\n      const rt = '🎯 Meta definida!\\n\\n*R$ ' + Number(parsed.amount||0).toFixed(2).replace('.',',') + '* este mês.\\n\\nVou te avisar o progresso todo dia! 💪';\n      return [{ json: { intent: parsed.intent, amount: parsed.amount, responseText: rt, userId, phone } }];\n    }\n    if (parsed.intent === 'registrar_tarefa') {\n      const rt = '✅ Anotei!\\n\\n📝 *' + (parsed.title||'') + '*\\nPrioridade: ' + (parsed.priority||'média');\n      return [{ json: { intent: parsed.intent, title: parsed.title, priority: parsed.priority||'media', responseText: rt, userId, phone } }];\n    }\n    if (parsed.intent === 'registrar_pagamento_futuro') {\n      const rt = '📋 Pagamento agendado!\\n\\n💸 *' + (parsed.description||'Pagamento') + '*\\nValor: R$ ' + Number(parsed.amount||0).toFixed(2).replace('.',',');\n      return [{ json: { intent: parsed.intent, amount: parsed.amount||0, description: parsed.description, due_date: parsed.due_date, responseText: rt, userId, phone } }];\n    }\n    if (parsed.intent === 'registrar_custo_recorrente') {\n      const rt = '🔄 Custo fixo cadastrado!\\n\\n📝 *' + (parsed.name||'') + '*\\nR$ ' + Number(parsed.amount||0).toFixed(2).replace('.',',') + '/mês';\n      return [{ json: { intent: parsed.intent, name: parsed.name, amount: parsed.amount||0, due_day: parsed.due_day, responseText: rt, userId, phone } }];\n    }\n  }\n} catch(e) {}\n\n// Fallback: GPT retornou texto formatado em vez de JSON\n// Detectar pelo padrão de resposta de custo recorrente\nif (content.includes('Custo fixo cadastrado') || content.includes('/mês')) {\n  // Tentar extrair dados do texto de confirmação\n  const amtMatch = content.match(/R\\$\\s*([\\d.,]+)/);\n  const dayMatch = content.match(/dia (\\d+)/);\n  const nameMatch = content.match(/\\*([^*]+)\\*/);\n  if (amtMatch) {\n    const amount = parseFloat(amtMatch[1].replace('.','').replace(',','.'));\n    const name = nameMatch ? nameMatch[1].trim() : 'Custo fixo';\n    const due_day = dayMatch ? parseInt(dayMatch[1]) : null;\n    const rt = '🔄 Custo fixo cadastrado!\\n\\n📝 *' + name + '*\\nR$ ' + amount.toFixed(2).replace('.',',') + '/mês' + (due_day ? '\\n📅 Todo dia ' + due_day : '');\n    return [{ json: { intent: 'registrar_custo_recorrente', name, amount, due_day, responseText: rt, userId, phone } }];\n  }\n}\nreturn [{ json: { intent: 'resposta', responseText: content, userId, phone } }];"
      }
    },
    {
      "id": "9e85b543-a248-4e39-bc40-5a6c0f90fefa",
      "name": "Qual intenção?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        224,
        864
      ],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.intent }}",
        "rules": {
          "rules": [
            {
              "value2": "registrar_receita"
            },
            {
              "value2": "registrar_despesa",
              "output": 0
            },
            {
              "value2": "registrar_agendamento",
              "output": 1
            },
            {
              "value2": "registrar_pagamento_futuro",
              "output": 2
            },
            {
              "value2": "registrar_custo_recorrente",
              "output": 3
            },
            {
              "value2": "definir_meta",
              "output": 3
            },
            {
              "value2": "registrar_tarefa",
              "output": 3
            }
          ]
        }
      }
    },
    {
      "id": "55726720-c7f5-41fe-a865-55b2ca58484a",
      "name": "Salvar receita no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        880,
        384
      ],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/transactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $json.userId, client_id: $json.clientId || null, type: 'receita', amount: $json.amount, category: 'servico', description: $json.description || $json.client_name || '', payment_method: 'pix', competence_date: new Date().toISOString().substring(0,10), paid_at: new Date().toISOString(), is_paid: true }) }}",
        "options": {}
      }
    },
    {
      "id": "d022553c-5ec7-4fbf-9bf7-f6e7c47df776",
      "name": "Salvar despesa no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        880,
        624
      ],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/transactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $json.userId, client_id: $json.clientId || null, type: 'despesa', amount: $json.amount, category: 'operacional', description: $json.description || $json.client_name || '', payment_method: 'pix', competence_date: new Date().toISOString().substring(0,10), paid_at: new Date().toISOString(), is_paid: true }) }}",
        "options": {}
      }
    },
    {
      "id": "c5dff047-86de-400d-af70-927af00dc1e0",
      "name": "Confirmar receita",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1104,
        384
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: ($('Interpretar GPT').first().json.phone.includes('@') ? $('Interpretar GPT').first().json.phone : $('Interpretar GPT').first().json.phone + '@s.whatsapp.net'), text: 'Show! 💰 Anotei aqui:\\n\\n*+R$ ' + Number($('Interpretar GPT').first().json.amount).toFixed(2).replace('.',',') + '* — ' + $('Interpretar GPT').first().json.description + '\\n📅 Hoje\\n\\nContinuando assim você chega na meta! 🚀\\n🔗 ' + 'https://socio-painel.vercel.app' }) }}",
        "options": {}
      }
    },
    {
      "id": "0dceaf8c-64e5-4eab-adb8-e2c86d1cebf6",
      "name": "Confirmar despesa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1104,
        624
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: ($('Interpretar GPT').first().json.phone.includes('@') ? $('Interpretar GPT').first().json.phone : $('Interpretar GPT').first().json.phone + '@s.whatsapp.net'), text: 'Anotado! 📝 Despesa registrada:\\n\\n*-R$ ' + Number($('Interpretar GPT').first().json.amount).toFixed(2).replace('.',',') + '* — ' + $('Interpretar GPT').first().json.description + '\\n📅 Hoje\\n\\n🔗 ' + 'https://socio-painel.vercel.app' }) }}",
        "options": {}
      }
    },
    {
      "id": "238189cb-77d4-474c-a6ee-d444ab1168f0",
      "name": "Salvar meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        880,
        1408
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?id=eq.{{ $json.userId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ monthly_goal: $json.amount }) }}",
        "options": {}
      }
    },
    {
      "id": "7325c98a-ecd3-4358-a394-6f07e7953ba5",
      "name": "Confirmar meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1104,
        1408
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: ($('Interpretar GPT').first().json.phone.includes('@') ? $('Interpretar GPT').first().json.phone : $('Interpretar GPT').first().json.phone + '@s.whatsapp.net'), text: '🎯 Meta definida!\\n\\n*R$ ' + Number($('Interpretar GPT').first().json.amount).toLocaleString('pt-BR') + '* este mês.\\n\\nVou te avisar todos os dias como você está progredindo. Bora lá! 💪' }) }}",
        "options": {}
      }
    },
    {
      "id": "435511b4-6b9e-4848-bf92-0b9be5597d55",
      "name": "É meta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        448,
        1200
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.intent }}",
              "value2": "definir_meta"
            }
          ]
        }
      }
    },
    {
      "id": "ab0bc78d-4b99-4d44-98f2-c1df606c708f",
      "name": "É tarefa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        672,
        1200
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.intent }}",
              "value2": "registrar_tarefa"
            }
          ]
        }
      }
    },
    {
      "id": "760225ac-70d7-4ec5-936f-89fac551e154",
      "name": "Salvar tarefa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        880,
        1600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/tasks",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $json.userId, title: $json.title, priority: $json.priority || 'media', due_date: new Date().toISOString().substring(0,10) }) }}",
        "options": {}
      }
    },
    {
      "id": "0c1fa26c-a631-41c1-b58a-909af793f3c7",
      "name": "Confirmar tarefa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1104,
        1600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: ($('Interpretar GPT').first().json.phone.includes('@') ? $('Interpretar GPT').first().json.phone : $('Interpretar GPT').first().json.phone + '@s.whatsapp.net'), text: '✅ Anotei!\\n\\n📝 *' + $('Interpretar GPT').first().json.title + '*\\nPrioridade: ' + ($('Interpretar GPT').first().json.priority || 'média') + '\\n\\nVer todas as tarefas: https://socio-painel.vercel.app/tarefas' }) }}",
        "options": {}
      }
    },
    {
      "id": "e1d43474-b323-4bec-8ee5-c52a1a80cbfa",
      "name": "Buscar cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        448,
        864
      ],
      "parameters": {
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/clients?user_id=eq.{{ $json.userId }}&name=ilike.*{{ encodeURIComponent($json.client_name) }}*&select=id,name&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            }
          ]
        },
        "options": {}
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "c369da03-6741-4c72-8bbd-2c525ecfb775",
      "name": "Cliente existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        672,
        864
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "532c7989-aec9-40d9-8ad4-856f19695d04",
      "name": "Criar cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        880,
        1008
      ],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/clients",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $('Interpretar GPT').first().json.userId, name: $('Interpretar GPT').first().json.client_name, status: 'active', last_contact: new Date().toISOString().substring(0,10) }) }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "57c58bf1-b2ac-4820-af3e-eea7845c2e6a",
      "name": "Resolver cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        864
      ],
      "parameters": {
        "jsCode": "const agendamento = $('Interpretar GPT').first().json;\nconst raw = $input.first().json;\n// Criar cliente retorna array com o objeto; Buscar cliente retorna objeto direto\nconst clientData = Array.isArray(raw) ? raw[0] : raw;\nconst clientId = clientData?.id || null;\nreturn [{ json: { ...agendamento, clientId } }];"
      }
    },
    {
      "id": "32a68f0d-2862-4dca-950a-dea48a209a30",
      "name": "Salvar agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1328,
        864
      ],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/appointments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $json.userId, client_id: $json.clientId || null, service: $json.service, scheduled_at: ($json.scheduled_at ? $json.scheduled_at + '-03:00' : null), price: $json.price, status: 'confirmado', notes: $json.client_name }) }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "46524621-6cee-42e6-8d37-7133f7ac8797",
      "name": "Confirmar agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1552,
        864
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: ($('Interpretar GPT').first().json.phone.includes('@') ? $('Interpretar GPT').first().json.phone : $('Interpretar GPT').first().json.phone + '@s.whatsapp.net'), text: '📅 *Agendamento confirmado!*\\n\\n👤 ' + $('Interpretar GPT').first().json.client_name + '\\n📋 ' + $('Interpretar GPT').first().json.service + '\\n🕐 ' + new Date($('Interpretar GPT').first().json.scheduled_at).toLocaleString('pt-BR', {day:'2-digit',month:'2-digit',hour:'2-digit',minute:'2-digit'}) + '\\n💰 R$ ' + Number($('Interpretar GPT').first().json.price).toFixed(2).replace('.',',') + '\\n\\n🔗 Ver agenda: https://socio-painel.vercel.app/agenda' }) }}",
        "options": {}
      }
    },
    {
      "id": "22f1fb1c-4827-4df0-9b1e-7655c2970539",
      "name": "Aguardando email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1104,
        624
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.onboarding_step }}",
              "value2": "aguardando_email"
            }
          ]
        }
      }
    },
    {
      "id": "2e833024-ea65-4765-a080-70c682df1001",
      "name": "Analisar resposta email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        400
      ],
      "parameters": {
        "jsCode": "const text = $('Extrair dados').first().json.text.toLowerCase().trim();\nconst tempUserId = $('Buscar usuário').first().json.id;\nconst tempUserName = $('Buscar usuário').first().json.name;\nconst remoteJid = $('Extrair dados').first().json.remoteJid;\nconst phone = $('Extrair dados').first().json.phone;\nconst isEmail = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(text);\n// Qualquer coisa que não seja email vai para criar_novo (completa onboarding e libera o bot)\nconst action = isEmail ? 'buscar_email' : 'criar_novo';\nreturn [{ json: { action, email: isEmail ? text : null, tempUserId, tempUserName, remoteJid, phone } }];"
      }
    },
    {
      "id": "e300ef9d-6f04-4beb-9182-dd0441753bf8",
      "name": "Ação de vinculação",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -656,
        400
      ],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": {
          "rules": [
            {
              "value2": "buscar_email"
            },
            {
              "value2": "criar_novo",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 2
      }
    },
    {
      "id": "8daf5654-91dc-4861-bb42-cfec04790070",
      "name": "Buscar conta por email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -448,
        208
      ],
      "parameters": {
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?email=ilike.{{ $json.email }}&id=neq.{{ $json.tempUserId }}&select=id,name",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            }
          ]
        },
        "options": {}
      },
      "alwaysOutputData": true
    },
    {
      "id": "4aca80da-2da3-4ce2-a130-007779781383",
      "name": "Conta encontrada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -224,
        208
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "a9ea5d63-4792-484f-bec4-cc1a784edb15",
      "name": "Vincular phone à conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?id=eq.{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ phone: $('Analisar resposta email').first().json.phone, onboarding_step: 'completo' }) }}",
        "options": {}
      }
    },
    {
      "id": "7c99ce37-0fcf-4d74-9785-e876d5bb53bb",
      "name": "Deletar usuário temporário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        224,
        0
      ],
      "parameters": {
        "method": "DELETE",
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?id=eq.{{ $('Analisar resposta email').first().json.tempUserId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "e27d81a3-fc22-45ff-b47f-bb59d8ba5ef3",
      "name": "Msg conta vinculada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        448,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('Analisar resposta email').first().json.remoteJid, text: '✅ *Conta vinculada com sucesso!*\\n\\nOlá, ' + $('Buscar conta por email').first().json.name + '! Agora posso te atender aqui no WhatsApp 🎉\\n\\nRegistre vendas, despesas ou agendamentos por aqui mesmo. Como posso te ajudar?' }) }}",
        "options": {}
      }
    },
    {
      "id": "6cc84960-589a-4cba-a8c1-bdd3d7412686",
      "name": "Confirmar nova conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        0,
        400
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?id=eq.{{ $('Analisar resposta email').first().json.tempUserId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ onboarding_step: 'completo' }) }}",
        "options": {}
      }
    },
    {
      "id": "e772eaeb-1dab-44d2-a7d0-0e005b971072",
      "name": "Msg nova conta criada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        224,
        400
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('Analisar resposta email').first().json.remoteJid, text: 'Tudo bem! 😊 Já posso te ajudar por aqui.\\n\\nRegistre receitas, despesas, agendamentos e tarefas normalmente.\\n\\nSe quiser acessar o painel completo: 👉 *https://meusocio.app*' }) }}",
        "options": {}
      }
    },
    {
      "id": "4b91184f-3c04-4db3-b047-c8040484487b",
      "name": "Reperguntar email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -448,
        608
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('Analisar resposta email').first().json.remoteJid, text: 'Tudo bem! 😊 Pode me enviar mensagens normalmente que já vou te ajudando.' }) }}",
        "options": {}
      }
    },
    {
      "id": "4e86423f-5006-49bc-9661-1cd0ca262a3a",
      "name": "Enviar resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        880,
        1200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $json.phone, text: String($json.responseText || 'Desculpe, não entendi. Pode repetir?') }) }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "a46d5625-b729-4a59-a5ef-250ac185fd20",
      "name": "Buscar histórico msgs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -880,
        624
      ],
      "parameters": {
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/messages?user_id=eq.{{ $('Buscar usuário').first().json.id }}&select=direction,content&order=created_at.desc&limit=8",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "continueOnFail": true,
      "alwaysOutputData": true
    },
    {
      "id": "243ce857-c12a-4c88-a26d-f7e6e5940e5b",
      "name": "Salvar msg usuário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        224,
        624
      ],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $('Buscar usuário').first().json.id, phone: $('Extrair dados').first().json.phone, content: $('Extrair dados').first().json.text, direction: 'inbound' }) }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "e891723d-688b-4f48-9eb2-78059e65f575",
      "name": "Salvar msg bot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1104,
        1200
      ],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $('Buscar usuário').first().json.id, phone: $('Extrair dados').first().json.phone, content: $('Interpretar GPT').first().json.responseText || '', direction: 'outbound' }) }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "2daf1ea5-3ad6-4395-8a9f-f160fb0bf5a8",
      "name": "Resolver cliente TX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        448,
        512
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst clientName = (item.client_name || item.description || '').trim();\nlet clientId = null;\n\nif (clientName && clientName.length >= 2) {\n  try {\n    const encoded = encodeURIComponent('%' + clientName + '%');\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/clients?select=id,name&user_id=eq.' + item.userId + '&name=ilike.' + encoded + '&limit=1',\n      headers: {\n        'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8',\n        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8'\n      }\n    });\n    if (Array.isArray(resp) && resp.length > 0) {\n      clientId = resp[0].id;\n    }\n  } catch(e) {\n    // clientId stays null — não bloqueia o fluxo\n  }\n}\n\nreturn [{ json: { ...item, clientId } }];"
      },
      "alwaysOutputData": true
    },
    {
      "id": "d5bdb9e5-3492-461d-8b0e-e30e45c804e3",
      "name": "É receita ou despesa?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        672,
        512
      ],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.intent }}",
        "rules": {
          "rules": [
            {
              "value2": "registrar_receita"
            },
            {
              "value2": "registrar_despesa",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 0
      }
    },
    {
      "id": "a2e1f5c7-f869-47a7-965c-c5a13c2f049a",
      "name": "É áudio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1760,
        624
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isAudio }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "102b57a0-211c-487c-a68d-ad022b3f487c",
      "name": "Baixar áudio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1536,
        192
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/chat/getBase64FromMediaMessage/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ message: { key: $('Extrair dados').first().json.messageKey } }) }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "93bf4299-c238-4c69-ae3a-2b7fa2984cc4",
      "name": "Montar texto do áudio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        192
      ],
      "parameters": {
        "jsCode": "const transcription = $('Chamar Whisper').first().json.text || '';\nconst userData = $('Extrair dados').first().json;\nreturn [{ json: { ...userData, text: transcription.trim(), isAudio: false } }];"
      }
    },
    {
      "id": "e234facb-0c37-4fae-9df3-0465e1640ab1",
      "name": "Montar prompt GPT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        864
      ],
      "parameters": {
        "jsCode": "const u = $('Buscar usuário').first().json || {};\nconst extrair = $('Extrair dados').first().json || {};\nconst txs = (() => { try { return $('Buscar últimas transações').all().map(i => i.json).filter(t => t && t.amount); } catch(e) { return []; } })();\nconst agenda = (() => { try { return $('Buscar agenda proximos dias').all().map(i => i.json).filter(a => a && a.scheduled_at); } catch(e) { return []; } })();\nconst tarefas = (() => { try { return $('Buscar tarefas pendentes ctx').all().map(i => i.json).filter(t => t && t.title); } catch(e) { return []; } })();\nconst historico = (() => { try { const items = $('Buscar histórico msgs').all().map(i => i.json).filter(h => h && h.content && !h.error); return items.reverse(); } catch(e) { return []; } })();\n\nconst receita = txs.filter(t => t.type==='receita').reduce((s,t)=>s+parseFloat(t.amount||0),0);\nconst despesa = txs.filter(t => t.type==='despesa').reduce((s,t)=>s+parseFloat(t.amount||0),0);\nconst agendaStr = agenda.length ? agenda.map(a=>{const dt=new Date(a.scheduled_at);const d=dt.toLocaleDateString('pt-BR',{timeZone:'America/Sao_Paulo',day:'2-digit',month:'2-digit'});const h=dt.toLocaleTimeString('pt-BR',{timeZone:'America/Sao_Paulo',hour:'2-digit',minute:'2-digit'});return d+' '+h+' - '+(a.service||'?')+' com '+(a.client_name||'?');}).join('; ') : 'Nenhum agendamento';\nconst tarefasStr = tarefas.length ? tarefas.map(t=>t.title).join('; ') : 'Nenhuma tarefa';\n\nconst primeiroNome = (u.name||'').split(' ')[0] || 'você';\nconst sistema = 'Você é o Sócio 🤝 — assistente pessoal de negócios de ' + (u.name||'você') + ' no WhatsApp. O nome do seu dono é ' + primeiroNome + ' — chame-o pelo primeiro nome nas respostas. Hoje: ' + new Date().toLocaleDateString('pt-BR') + ' (' + new Date().toISOString().substring(0,10) + ')\\n\\n📊 RESUMO DO MÊS:\\n💰 Receitas: R$ ' + receita.toFixed(2) + '\\n💸 Despesas: R$ ' + despesa.toFixed(2) + '\\n✅ Líquido: R$ ' + (receita-despesa).toFixed(2) + '\\n🎯 Meta: R$ ' + (u.monthly_goal||0) + '\\n\\n📅 AGENDA PRÓXIMOS 7 DIAS: ' + agendaStr + '\\n📌 TAREFAS: ' + tarefasStr + '\\n🔄 ÚLTIMAS TRANSAÇÕES: ' + JSON.stringify(txs.slice(0,5)) + '\\n\\nREGRAS:\\n- Use o histórico abaixo para entender respostas curtas (\\'Amanhã\\', \\'Sim\\', números).\\n- Dados não informados: horário padrão 09:00, preço 0.\\n- Use emojis de forma natural: 💰 dinheiro, 📅 agenda, ✅ confirmação, ⚠️ alertas, 🎉 comemorações.\\n- REGISTRAR → OBRIGATÓRIO: responda EXCLUSIVAMENTE com JSON puro, sem nenhum texto antes ou depois. NUNCA responda com texto de confirmação para registros — apenas JSON:\\n  Receita: {\"intent\":\"registrar_receita\",\"amount\":NUM,\"description\":\"DESC\",\"client_name\":\"\"}\\n  Despesa: {\"intent\":\"registrar_despesa\",\"amount\":NUM,\"description\":\"DESC\",\"client_name\":\"\"}\\n  Agendamento: {\"intent\":\"registrar_agendamento\",\"service\":\"SVC\",\"client_name\":\"NOME\",\"scheduled_at\":\"YYYY-MM-DDTHH:MM:00\",\"price\":0} — scheduled_at SEMPRE no horário de Brasília (NÃO converter para UTC). Para datas relativas: \"amanhã\"=hoje+1, \"sexta-feira\"=calcule o próximo dia correto baseado na data ISO de Hoje acima\\n  Meta: {\"intent\":\"definir_meta\",\"amount\":NUM}\\n  Tarefa: {\"intent\":\"registrar_tarefa\",\"title\":\"TITULO\",\"priority\":\"alta|media|baixa\"}\\n  Pgto avulso: {\"intent\":\"registrar_pagamento_futuro\",\"amount\":NUM,\"description\":\"DESC\",\"due_date\":\"YYYY-MM-DD\"}\\n  Custo recorrente: {\"intent\":\"registrar_custo_recorrente\",\"name\":\"NOME\",\"amount\":NUM,\"due_day\":NUM}\\n- CONSULTAR → responda de forma direta e amigável com os dados disponíveis.\\n- Só peça mais informações se realmente necessário.\\n- RECORRENTE (ex: \\'aluguel todo dia 5\\'): {\"intent\":\"registrar_custo_recorrente\",\"name\":\"NOME\",\"amount\":NUM,\"due_day\":NUM}\\n- AVULSO (ex: \\'pagar Leo dia 20\\'): {\"intent\":\"registrar_pagamento_futuro\",\"amount\":NUM,\"description\":\"DESC\",\"due_date\":\"YYYY-MM-DD\"} — assume mês atual se não informado.\\n- client_name: use o NOME DO CLIENTE se houver. Sem cliente especifico (gastos gerais, locais, enderecos) use string vazia. Local como churrascaria Rondon NAO e cliente. NUNCA retorne as palavras vazio ou null no campo client_name.\\n- Tom: moderno, acolhedor, direto — como um amigo entendido de negócios. Máximo 5 linhas.\\n- Corrija erros de digitação e capitalização nas respostas.';\n\n// Para mensagens de áudio, usar transcrição em vez de '__audio__'\nlet currentText = String(extrair.text || '');\ntry {\n  const audioTranscription = $('Montar texto do áudio').first().json.text;\n  if (audioTranscription && audioTranscription !== '__audio__' && audioTranscription.trim().length > 0) {\n    currentText = audioTranscription.trim();\n  }\n} catch(e) { /* não é fluxo de áudio, manter texto original */ }\n\n// Build history, removing duplicates of the current message at the END\n// (happens when Evolution API saves message before history is fetched)\nconst histMsgs = historico\n  .map(h => ({ role: h.direction === 'inbound' ? 'user' : 'assistant', content: String(h.content) }));\n\n// Remove last item if it's the same as current user message (dedup)\nif (histMsgs.length > 0) {\n  const last = histMsgs[histMsgs.length - 1];\n  if (last.role === 'user' && last.content === currentText) {\n    histMsgs.pop();\n  }\n}\n\nconst messages = [{ role: 'system', content: sistema }].concat(histMsgs).concat([{ role: 'user', content: currentText }]);\n\nreturn [{ json: { gptBody: JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.3, messages: messages }) } }];"
      }
    },
    {
      "id": "bb843939-582d-456c-aa21-b61d17d6b211",
      "name": "Base64 para Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        192
      ],
      "parameters": {
        "jsCode": "const base64Raw = ($('Baixar áudio').first().json.base64 || '');\nconst base64Data = base64Raw.replace(/^data:[^;]+;base64,/, '');\nif (!base64Data) {\n  return [{ json: { hasAudio: false }, binary: {} }];\n}\nreturn [{\n  json: { hasAudio: true },\n  binary: {\n    data: {\n      data: base64Data,\n      mimeType: 'audio/ogg',\n      fileName: 'audio.ogg',\n    }\n  }\n}];"
      }
    },
    {
      "id": "8d80590c-6df1-4fcf-8722-6a250a493030",
      "name": "Chamar Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1104,
        192
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "value": "pt"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "57976e59-ca41-4975-ac12-a2406162a2cf",
      "name": "Salvar pagamento futuro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        448,
        1104
      ],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/transactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $json.userId, type: 'despesa', amount: $json.amount, category: 'pagamento_futuro', description: $json.description || 'Pagamento', payment_method: 'outro', competence_date: $json.due_date || new Date().toISOString().substring(0,10), is_paid: false, paid_at: null }) }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "c1b1b88b-56d3-42b5-8c00-02c5a1ade440",
      "name": "Confirmar pagamento futuro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        672,
        1104
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: ($('Interpretar GPT').first().json.phone.includes('@') ? $('Interpretar GPT').first().json.phone : $('Interpretar GPT').first().json.phone + '@s.whatsapp.net'), text: '📋 Anotei o pagamento!\\n\\n💸 *' + $('Interpretar GPT').first().json.description + '*\\nValor: R$ ' + Number($('Interpretar GPT').first().json.amount).toFixed(2).replace('.',',') + '\\n📅 Vencimento: ' + ($('Interpretar GPT').first().json.due_date ? new Date($('Interpretar GPT').first().json.due_date + 'T12:00:00').toLocaleDateString(\\'pt-BR\\') : \\'a definir\\') + '\\n\\nVou te lembrar quando chegar a data! 🔔' }) }}",
        "options": {}
      }
    },
    {
      "id": "4d6ec0a6-6b0c-4d39-84ae-446e4ee383e7",
      "name": "Salvar custo recorrente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        448,
        1312
      ],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/costs_fixed",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $json.userId, name: $json.name, amount: $json.amount, periodicity: 'mensal', category: 'outro', due_day: $json.due_day || null }) }}",
        "options": {}
      },
      "continueOnFail": true
    },
    {
      "id": "bfeffcfb-671a-451c-a077-800eeb4d78fe",
      "name": "Confirmar custo recorrente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        672,
        1312
      ],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: ($('Interpretar GPT').first().json.phone.includes('@') ? $('Interpretar GPT').first().json.phone : $('Interpretar GPT').first().json.phone + '@s.whatsapp.net'), text: '🔄 Custo fixo cadastrado!\\n\\n📝 *' + $('Interpretar GPT').first().json.name + '*\\nValor: R$ ' + Number($('Interpretar GPT').first().json.amount).toFixed(2).replace('.',',') + '/mês' + ($('Interpretar GPT').first().json.due_day ? '\\n📅 Todo dia ' + $('Interpretar GPT').first().json.due_day : '') + '\\n\\nVou considerar esse custo no seu financeiro! 💰' }) }}",
        "options": {}
      }
    },
    {
      "id": "f74cd77e-d419-421a-b073-194d01be0202",
      "name": "Norm histórico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        624
      ],
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { _items: items, _source: 'historico' } }];"
      }
    },
    {
      "id": "25da1a90-ef98-482e-a9a1-277239a73231",
      "name": "Norm transações",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        768
      ],
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { _items: items, _source: 'transacoes' } }];"
      }
    },
    {
      "id": "c22ab321-8627-47dc-b32c-7649398dbec2",
      "name": "Norm agenda",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        928
      ],
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { _items: items, _source: 'agenda' } }];"
      }
    },
    {
      "id": "283f8492-abd8-4536-8ee4-7b4ae80040b9",
      "name": "Norm tarefas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        1088
      ],
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { _items: items, _source: 'tarefas' } }];"
      }
    },
    {
      "id": "3d76870d-b099-45ec-85bc-37294ab66cc8",
      "name": "Merge contexto",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -656,
        864
      ],
      "parameters": {
        "mode": "waitForAll",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [
          {
            "node": "Responder 200",
            "type": "main",
            "index": 0
          },
          {
            "node": "É mensagem recebida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É mensagem recebida?": {
      "main": [
        [
          {
            "node": "Extrair dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair dados": {
      "main": [
        [
          {
            "node": "Tem texto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem texto?": {
      "main": [
        [
          {
            "node": "É áudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar usuário": {
      "main": [
        [
          {
            "node": "Usuário existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Usuário existe?": {
      "main": [
        [
          {
            "node": "Aguardando email?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar usuário novo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguardando email?": {
      "main": [
        [
          {
            "node": "Analisar resposta email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar histórico msgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analisar resposta email": {
      "main": [
        [
          {
            "node": "Ação de vinculação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ação de vinculação": {
      "main": [
        [
          {
            "node": "Buscar conta por email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirmar nova conta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reperguntar email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar conta por email": {
      "main": [
        [
          {
            "node": "Conta encontrada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conta encontrada?": {
      "main": [
        [
          {
            "node": "Vincular phone à conta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirmar nova conta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vincular phone à conta": {
      "main": [
        [
          {
            "node": "Deletar usuário temporário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar usuário temporário": {
      "main": [
        [
          {
            "node": "Msg conta vinculada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar nova conta": {
      "main": [
        [
          {
            "node": "Msg nova conta criada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar usuário novo": {
      "main": [
        [
          {
            "node": "Enviar boas-vindas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar últimas transações": {
      "main": [
        [
          {
            "node": "Norm transações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar agenda proximos dias": {
      "main": [
        [
          {
            "node": "Norm agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT processar mensagem": {
      "main": [
        [
          {
            "node": "Interpretar GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Interpretar GPT": {
      "main": [
        [
          {
            "node": "Qual intenção?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar msg usuário",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qual intenção?": {
      "main": [
        [
          {
            "node": "Resolver cliente TX",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar pagamento futuro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É meta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar pagamento futuro": {
      "main": [
        []
      ]
    },
    "Salvar custo recorrente": {
      "main": [
        []
      ]
    },
    "É meta?": {
      "main": [
        [
          {
            "node": "Salvar meta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É tarefa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É tarefa?": {
      "main": [
        [
          {
            "node": "Salvar tarefa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar custo recorrente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar receita no Supabase": {
      "main": [
        []
      ]
    },
    "Salvar despesa no Supabase": {
      "main": [
        []
      ]
    },
    "Buscar cliente": {
      "main": [
        [
          {
            "node": "Cliente existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cliente existe?": {
      "main": [
        [
          {
            "node": "Resolver cliente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar cliente": {
      "main": [
        [
          {
            "node": "Resolver cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver cliente": {
      "main": [
        [
          {
            "node": "Salvar agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar agendamento": {
      "main": [
        []
      ]
    },
    "Salvar meta": {
      "main": [
        []
      ]
    },
    "Salvar tarefa": {
      "main": [
        []
      ]
    },
    "Buscar tarefas pendentes ctx": {
      "main": [
        [
          {
            "node": "Norm tarefas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar histórico msgs": {
      "main": [
        [
          {
            "node": "Norm histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Norm transações": {
      "main": [
        [
          {
            "node": "Buscar agenda proximos dias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Norm agenda": {
      "main": [
        [
          {
            "node": "Buscar tarefas pendentes ctx",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar resposta": {
      "main": [
        [
          {
            "node": "Salvar msg bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolver cliente TX": {
      "main": [
        [
          {
            "node": "É receita ou despesa?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É receita ou despesa?": {
      "main": [
        [
          {
            "node": "Salvar receita no Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar despesa no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É áudio?": {
      "main": [
        [
          {
            "node": "Baixar áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar áudio": {
      "main": [
        [
          {
            "node": "Base64 para Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar texto do áudio": {
      "main": [
        [
          {
            "node": "Buscar usuário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar prompt GPT": {
      "main": [
        [
          {
            "node": "GPT processar mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 para Binary": {
      "main": [
        [
          {
            "node": "Chamar Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar Whisper": {
      "main": [
        [
          {
            "node": "Montar texto do áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge contexto": {
      "main": [
        [
          {
            "node": "Montar prompt GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Norm histórico": {
      "main": [
        [
          {
            "node": "Buscar últimas transações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Norm tarefas": {
      "main": [
        [
          {
            "node": "Montar prompt GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "391693e2-6aeb-4e4f-b8b4-2d51ff942b88",
  "activeVersionId": "391693e2-6aeb-4e4f-b8b4-2d51ff942b88",
  "versionCounter": 51,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-13T18:16:09.786Z",
      "createdAt": "2026-04-13T18:16:09.786Z",
      "role": "workflow:owner",
      "workflowId": "uJqVXqmvKIR8iJaV",
      "projectId": "dJAk3gUolNGV65cp",
      "project": {
        "updatedAt": "2026-03-31T22:14:17.259Z",
        "createdAt": "2026-03-31T22:12:38.125Z",
        "id": "dJAk3gUolNGV65cp",
        "name": "White Criativa <whitecriativa@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "72789484-e3fb-4f87-a702-6af6db75bac8"
      }
    }
  ],
  "tags": [
    {
      "updatedAt": "2026-03-31T22:15:03.192Z",
      "createdAt": "2026-03-31T22:15:03.192Z",
      "id": "RUZSPdb3xoZmQq9u",
      "name": "whatsapp"
    },
    {
      "updatedAt": "2026-03-31T22:15:03.198Z",
      "createdAt": "2026-03-31T22:15:03.198Z",
      "id": "vriVAbexupg8cy7k",
      "name": "socio"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-14T19:26:11.567Z",
    "createdAt": "2026-04-14T19:26:11.567Z",
    "versionId": "391693e2-6aeb-4e4f-b8b4-2d51ff942b88",
    "workflowId": "uJqVXqmvKIR8iJaV",
    "nodes": [
      {
        "id": "2df8f305-2c8e-41f6-a28a-7f7601da68b3",
        "name": "Webhook WhatsApp",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [
          -2640,
          624
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "whatsapp",
          "responseMode": "responseNode",
          "options": {}
        },
        "webhookId": "whatsapp"
      },
      {
        "id": "ff0350eb-414c-4009-8df5-992a8779777b",
        "name": "Responder 200",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [
          -2416,
          400
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "{\"ok\":true}",
          "options": {}
        }
      },
      {
        "id": "09ba3d08-03d9-4010-ba44-7d61fbe607a1",
        "name": "É mensagem recebida?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -2416,
          624
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.body.event }}",
                "value2": "messages.upsert"
              }
            ],
            "boolean": [
              {
                "value1": "={{ $json.body.data.key.fromMe }}"
              }
            ]
          }
        }
      },
      {
        "id": "458270aa-621e-4300-8b15-942a0d500e67",
        "name": "Extrair dados",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2208,
          624
        ],
        "parameters": {
          "jsCode": "const body = $input.first().json.body;\nconst data = body.data;\nconst key = data.key;\nconst remoteJid = key.remoteJid;\nlet phone = remoteJid.replace(/@.*$/, '');\nif (!phone.startsWith('55')) phone = '55' + phone;\nlet text = '';\nlet isAudio = false;\nif (data.messageType === 'conversation') {\n  text = data.message?.conversation || '';\n} else if (data.messageType === 'extendedTextMessage') {\n  text = data.message?.extendedTextMessage?.text || '';\n} else if (data.messageType === 'audioMessage') {\n  isAudio = true;\n  text = '__audio__';\n}\nconst phoneShort = phone.startsWith('55') ? phone.slice(2) : phone;\nreturn [{ json: { phone, phoneShort, remoteJid, pushName: data.pushName || 'Amigo', text: text.trim(), isAudio, messageKey: key, instanceName: body.instance } }];"
        }
      },
      {
        "id": "6a694f44-324e-4c12-903a-2af7e0ee4a2f",
        "name": "Tem texto?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -1984,
          624
        ],
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.text !== '' || $json.isAudio === true }}",
                "value2": true
              }
            ]
          }
        }
      },
      {
        "id": "44e12a57-a060-4ec3-a10c-6a58b2f075ee",
        "name": "Buscar usuário",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          -1536,
          624
        ],
        "parameters": {
          "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?phone=in.({{ $json.phone }},{{ $json.phoneShort }})&select=id,name,email,profile_type,monthly_goal,onboarding_step&limit=1",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              }
            ]
          },
          "options": {}
        },
        "alwaysOutputData": true
      },
      {
        "id": "7f76b33d-0e99-49ba-a07c-0c68592cef9f",
        "name": "Usuário existe?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -1328,
          624
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.id }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        }
      },
      {
        "id": "c51577f0-83c0-418f-a454-248828831d48",
        "name": "Criar usuário novo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          -1104,
          848
        ],
        "parameters": {
          "method": "POST",
          "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ phone: $('Extrair dados').first().json.phone, name: $('Extrair dados').first().json.pushName, onboarding_step: 'aguardando_email', profile_type: 'outro' }) }}",
          "options": {}
        }
      },
      {
        "id": "ca4e5e07-d2b2-416a-9869-e97d3aea462e",
        "name": "Enviar boas-vindas",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          -880,
          848
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ number: $('Extrair dados').first().json.remoteJid, text: 'Olá, ' + $('Extrair dados').first().json.pushName + '! 👋 Sou o *Meu Sócio*, seu parceiro de negócios no WhatsApp.\\n\\nVocê já tem conta no *Meu Sócio app*? Se sim, me diga seu *email de cadastro* para eu vincular sua conta e tudo ficar sincronizado! 📲\\n\\nSe não tem conta ainda, responda *não* 😊' }) }}",
          "options": {}
        }
      },
      {
        "id": "c4f205b5-b007-4d26-a888-af72485ee04b",
        "name": "Buscar últimas transações",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          -1104,
          768
        ],
        "parameters": {
          "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/transactions?user_id=eq.{{ $('Buscar usuário').first().json.id }}&order=created_at.desc&limit=5&select=type,amount,description,competence_date,client_id",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              }
            ]
          },
          "options": {}
        },
        "alwaysOutputData": true
      },
      {
        "id": "762a074f-83dc-467e-8ef4-cf54c4ac2fc3",
        "name": "Buscar agenda proximos dias",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          -1104,
          928
        ],
        "parameters": {
          "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/appointments?user_id=eq.{{ $('Buscar usuário').first().json.id }}&scheduled_at=gte.{{ new Date().toISOString().substring(0,10) }}T00:00:00&scheduled_at=lte.{{ new Date(Date.now()+7*86400000).toISOString().substring(0,10) }}T23:59:59&select=service,scheduled_at,notes,client_name&order=scheduled_at.asc&limit=5",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              }
            ]
          },
          "options": {}
        },
        "alwaysOutputData": true
      },
      {
        "id": "d350fd66-18b4-4b94-a43b-19970fbeec8f",
        "name": "Buscar tarefas pendentes ctx",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          -1104,
          1088
        ],
        "parameters": {
          "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/tasks?user_id=eq.{{ $('Buscar usuário').first().json.id }}&completed_at=is.null&select=title,priority,due_date&order=priority.asc&limit=5",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              }
            ]
          },
          "options": {}
        },
        "alwaysOutputData": true
      },
      {
        "id": "0c24274c-43cc-4da9-ae5a-2624a863cabc",
        "name": "GPT processar mensagem",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          -224,
          864
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/chat/completions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ $json.gptBody }}",
          "options": {}
        }
      },
      {
        "id": "6c489940-fb0b-470e-b489-cfef5e5d0c9e",
        "name": "Interpretar GPT",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          0,
          864
        ],
        "parameters": {
          "jsCode": "const content = $input.first().json.choices[0].message.content.trim();\nconst userId = $('Buscar usuário').first().json.id;\nconst phone = $('Extrair dados').first().json.remoteJid;\ntry {\n  const jsonMatch = content.match(/\\{[^{}]+\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    if (parsed.intent === 'registrar_receita') {\n      const rt = 'Show! 💰 Receita anotada:\\n\\n*+R$ ' + Number(parsed.amount||0).toFixed(2).replace('.',',') + '* — ' + (parsed.description||parsed.client_name||'serviço') + '\\n📅 Hoje\\n\\n🔗 https://socio-painel.vercel.app';\n      return [{ json: { intent: parsed.intent, amount: parsed.amount, description: parsed.description, client_name: parsed.client_name||'', responseText: rt, userId, phone } }];\n    }\n    if (parsed.intent === 'registrar_despesa') {\n      const rt = 'Anotado! 📝 Despesa:\\n\\n*-R$ ' + Number(parsed.amount||0).toFixed(2).replace('.',',') + '* — ' + (parsed.description||'despesa') + '\\n📅 Hoje\\n\\n🔗 https://socio-painel.vercel.app';\n      return [{ json: { intent: parsed.intent, amount: parsed.amount, description: parsed.description, client_name: parsed.client_name||'', responseText: rt, userId, phone } }];\n    }\n    if (parsed.intent === 'registrar_agendamento') {\n      const rt = '📅 *Agendamento confirmado!*\\n\\n👤 ' + (parsed.client_name||'') + '\\n📋 ' + (parsed.service||'') + '\\n🕐 ' + (parsed.scheduled_at||'').slice(0,16).replace('T',' ') + '\\n💰 R$ ' + Number(parsed.price||0).toFixed(2).replace('.',',') + '\\n\\n🔗 https://socio-painel.vercel.app/agenda';\n      return [{ json: { intent: parsed.intent, service: parsed.service, client_name: parsed.client_name, scheduled_at: parsed.scheduled_at, price: parsed.price||0, responseText: rt, userId, phone } }];\n    }\n    if (parsed.intent === 'definir_meta') {\n      const rt = '🎯 Meta definida!\\n\\n*R$ ' + Number(parsed.amount||0).toFixed(2).replace('.',',') + '* este mês.\\n\\nVou te avisar o progresso todo dia! 💪';\n      return [{ json: { intent: parsed.intent, amount: parsed.amount, responseText: rt, userId, phone } }];\n    }\n    if (parsed.intent === 'registrar_tarefa') {\n      const rt = '✅ Anotei!\\n\\n📝 *' + (parsed.title||'') + '*\\nPrioridade: ' + (parsed.priority||'média');\n      return [{ json: { intent: parsed.intent, title: parsed.title, priority: parsed.priority||'media', responseText: rt, userId, phone } }];\n    }\n    if (parsed.intent === 'registrar_pagamento_futuro') {\n      const rt = '📋 Pagamento agendado!\\n\\n💸 *' + (parsed.description||'Pagamento') + '*\\nValor: R$ ' + Number(parsed.amount||0).toFixed(2).replace('.',',');\n      return [{ json: { intent: parsed.intent, amount: parsed.amount||0, description: parsed.description, due_date: parsed.due_date, responseText: rt, userId, phone } }];\n    }\n    if (parsed.intent === 'registrar_custo_recorrente') {\n      const rt = '🔄 Custo fixo cadastrado!\\n\\n📝 *' + (parsed.name||'') + '*\\nR$ ' + Number(parsed.amount||0).toFixed(2).replace('.',',') + '/mês';\n      return [{ json: { intent: parsed.intent, name: parsed.name, amount: parsed.amount||0, due_day: parsed.due_day, responseText: rt, userId, phone } }];\n    }\n  }\n} catch(e) {}\n\n// Fallback: GPT retornou texto formatado em vez de JSON\n// Detectar pelo padrão de resposta de custo recorrente\nif (content.includes('Custo fixo cadastrado') || content.includes('/mês')) {\n  // Tentar extrair dados do texto de confirmação\n  const amtMatch = content.match(/R\\$\\s*([\\d.,]+)/);\n  const dayMatch = content.match(/dia (\\d+)/);\n  const nameMatch = content.match(/\\*([^*]+)\\*/);\n  if (amtMatch) {\n    const amount = parseFloat(amtMatch[1].replace('.','').replace(',','.'));\n    const name = nameMatch ? nameMatch[1].trim() : 'Custo fixo';\n    const due_day = dayMatch ? parseInt(dayMatch[1]) : null;\n    const rt = '🔄 Custo fixo cadastrado!\\n\\n📝 *' + name + '*\\nR$ ' + amount.toFixed(2).replace('.',',') + '/mês' + (due_day ? '\\n📅 Todo dia ' + due_day : '');\n    return [{ json: { intent: 'registrar_custo_recorrente', name, amount, due_day, responseText: rt, userId, phone } }];\n  }\n}\nreturn [{ json: { intent: 'resposta', responseText: content, userId, phone } }];"
        }
      },
      {
        "id": "9e85b543-a248-4e39-bc40-5a6c0f90fefa",
        "name": "Qual intenção?",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 1,
        "position": [
          224,
          864
        ],
        "parameters": {
          "dataType": "string",
          "value1": "={{ $json.intent }}",
          "rules": {
            "rules": [
              {
                "value2": "registrar_receita"
              },
              {
                "value2": "registrar_despesa",
                "output": 0
              },
              {
                "value2": "registrar_agendamento",
                "output": 1
              },
              {
                "value2": "registrar_pagamento_futuro",
                "output": 2
              },
              {
                "value2": "registrar_custo_recorrente",
                "output": 3
              },
              {
                "value2": "definir_meta",
                "output": 3
              },
              {
                "value2": "registrar_tarefa",
                "output": 3
              }
            ]
          }
        }
      },
      {
        "id": "55726720-c7f5-41fe-a865-55b2ca58484a",
        "name": "Salvar receita no Supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          880,
          384
        ],
        "parameters": {
          "method": "POST",
          "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/transactions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ user_id: $json.userId, client_id: $json.clientId || null, type: 'receita', amount: $json.amount, category: 'servico', description: $json.description || $json.client_name || '', payment_method: 'pix', competence_date: new Date().toISOString().substring(0,10), paid_at: new Date().toISOString(), is_paid: true }) }}",
          "options": {}
        }
      },
      {
        "id": "d022553c-5ec7-4fbf-9bf7-f6e7c47df776",
        "name": "Salvar despesa no Supabase",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          880,
          624
        ],
        "parameters": {
          "method": "POST",
          "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/transactions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ user_id: $json.userId, client_id: $json.clientId || null, type: 'despesa', amount: $json.amount, category: 'operacional', description: $json.description || $json.client_name || '', payment_method: 'pix', competence_date: new Date().toISOString().substring(0,10), paid_at: new Date().toISOString(), is_paid: true }) }}",
          "options": {}
        }
      },
      {
        "id": "c5dff047-86de-400d-af70-927af00dc1e0",
        "name": "Confirmar receita",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          1104,
          384
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ number: ($('Interpretar GPT').first().json.phone.includes('@') ? $('Interpretar GPT').first().json.phone : $('Interpretar GPT').first().json.phone + '@s.whatsapp.net'), text: 'Show! 💰 Anotei aqui:\\n\\n*+R$ ' + Number($('Interpretar GPT').first().json.amount).toFixed(2).replace('.',',') + '* — ' + $('Interpretar GPT').first().json.description + '\\n📅 Hoje\\n\\nContinuando assim você chega na meta! 🚀\\n🔗 ' + 'https://socio-painel.vercel.app' }) }}",
          "options": {}
        }
      },
      {
        "id": "0dceaf8c-64e5-4eab-adb8-e2c86d1cebf6",
        "name": "Confirmar despesa",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          1104,
          624
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ number: ($('Interpretar GPT').first().json.phone.includes('@') ? $('Interpretar GPT').first().json.phone : $('Interpretar GPT').first().json.phone + '@s.whatsapp.net'), text: 'Anotado! 📝 Despesa registrada:\\n\\n*-R$ ' + Number($('Interpretar GPT').first().json.amount).toFixed(2).replace('.',',') + '* — ' + $('Interpretar GPT').first().json.description + '\\n📅 Hoje\\n\\n🔗 ' + 'https://socio-painel.vercel.app' }) }}",
          "options": {}
        }
      },
      {
        "id": "238189cb-77d4-474c-a6ee-d444ab1168f0",
        "name": "Salvar meta",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          880,
          1408
        ],
        "parameters": {
          "method": "PATCH",
          "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?id=eq.{{ $json.userId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ monthly_goal: $json.amount }) }}",
          "options": {}
        }
      },
      {
        "id": "7325c98a-ecd3-4358-a394-6f07e7953ba5",
        "name": "Confirmar meta",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          1104,
          1408
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ number: ($('Interpretar GPT').first().json.phone.includes('@') ? $('Interpretar GPT').first().json.phone : $('Interpretar GPT').first().json.phone + '@s.whatsapp.net'), text: '🎯 Meta definida!\\n\\n*R$ ' + Number($('Interpretar GPT').first().json.amount).toLocaleString('pt-BR') + '* este mês.\\n\\nVou te avisar todos os dias como você está progredindo. Bora lá! 💪' }) }}",
          "options": {}
        }
      },
      {
        "id": "435511b4-6b9e-4848-bf92-0b9be5597d55",
        "name": "É meta?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          448,
          1200
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.intent }}",
                "value2": "definir_meta"
              }
            ]
          }
        }
      },
      {
        "id": "ab0bc78d-4b99-4d44-98f2-c1df606c708f",
        "name": "É tarefa?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          672,
          1200
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.intent }}",
                "value2": "registrar_tarefa"
              }
            ]
          }
        }
      },
      {
        "id": "760225ac-70d7-4ec5-936f-89fac551e154",
        "name": "Salvar tarefa",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          880,
          1600
        ],
        "parameters": {
          "method": "POST",
          "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/tasks",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ user_id: $json.userId, title: $json.title, priority: $json.priority || 'media', due_date: new Date().toISOString().substring(0,10) }) }}",
          "options": {}
        }
      },
      {
        "id": "0c1fa26c-a631-41c1-b58a-909af793f3c7",
        "name": "Confirmar tarefa",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          1104,
          1600
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ number: ($('Interpretar GPT').first().json.phone.includes('@') ? $('Interpretar GPT').first().json.phone : $('Interpretar GPT').first().json.phone + '@s.whatsapp.net'), text: '✅ Anotei!\\n\\n📝 *' + $('Interpretar GPT').first().json.title + '*\\nPrioridade: ' + ($('Interpretar GPT').first().json.priority || 'média') + '\\n\\nVer todas as tarefas: https://socio-painel.vercel.app/tarefas' }) }}",
          "options": {}
        }
      },
      {
        "id": "e1d43474-b323-4bec-8ee5-c52a1a80cbfa",
        "name": "Buscar cliente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          448,
          864
        ],
        "parameters": {
          "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/clients?user_id=eq.{{ $json.userId }}&name=ilike.*{{ encodeURIComponent($json.client_name) }}*&select=id,name&limit=1",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              }
            ]
          },
          "options": {}
        },
        "continueOnFail": true,
        "alwaysOutputData": true
      },
      {
        "id": "c369da03-6741-4c72-8bbd-2c525ecfb775",
        "name": "Cliente existe?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          672,
          864
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.id }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        }
      },
      {
        "id": "532c7989-aec9-40d9-8ad4-856f19695d04",
        "name": "Criar cliente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          880,
          1008
        ],
        "parameters": {
          "method": "POST",
          "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/clients",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=representation"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ user_id: $('Interpretar GPT').first().json.userId, name: $('Interpretar GPT').first().json.client_name, status: 'active', last_contact: new Date().toISOString().substring(0,10) }) }}",
          "options": {}
        },
        "continueOnFail": true
      },
      {
        "id": "57c58bf1-b2ac-4820-af3e-eea7845c2e6a",
        "name": "Resolver cliente",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1104,
          864
        ],
        "parameters": {
          "jsCode": "const agendamento = $('Interpretar GPT').first().json;\nconst raw = $input.first().json;\n// Criar cliente retorna array com o objeto; Buscar cliente retorna objeto direto\nconst clientData = Array.isArray(raw) ? raw[0] : raw;\nconst clientId = clientData?.id || null;\nreturn [{ json: { ...agendamento, clientId } }];"
        }
      },
      {
        "id": "32a68f0d-2862-4dca-950a-dea48a209a30",
        "name": "Salvar agendamento",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          1328,
          864
        ],
        "parameters": {
          "method": "POST",
          "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/appointments",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ user_id: $json.userId, client_id: $json.clientId || null, service: $json.service, scheduled_at: ($json.scheduled_at ? $json.scheduled_at + '-03:00' : null), price: $json.price, status: 'confirmado', notes: $json.client_name }) }}",
          "options": {}
        },
        "continueOnFail": true
      },
      {
        "id": "46524621-6cee-42e6-8d37-7133f7ac8797",
        "name": "Confirmar agendamento",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          1552,
          864
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ number: ($('Interpretar GPT').first().json.phone.includes('@') ? $('Interpretar GPT').first().json.phone : $('Interpretar GPT').first().json.phone + '@s.whatsapp.net'), text: '📅 *Agendamento confirmado!*\\n\\n👤 ' + $('Interpretar GPT').first().json.client_name + '\\n📋 ' + $('Interpretar GPT').first().json.service + '\\n🕐 ' + new Date($('Interpretar GPT').first().json.scheduled_at).toLocaleString('pt-BR', {day:'2-digit',month:'2-digit',hour:'2-digit',minute:'2-digit'}) + '\\n💰 R$ ' + Number($('Interpretar GPT').first().json.price).toFixed(2).replace('.',',') + '\\n\\n🔗 Ver agenda: https://socio-painel.vercel.app/agenda' }) }}",
          "options": {}
        }
      },
      {
        "id": "22f1fb1c-4827-4df0-9b1e-7655c2970539",
        "name": "Aguardando email?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -1104,
          624
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.onboarding_step }}",
                "value2": "aguardando_email"
              }
            ]
          }
        }
      },
      {
        "id": "2e833024-ea65-4765-a080-70c682df1001",
        "name": "Analisar resposta email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -880,
          400
        ],
        "parameters": {
          "jsCode": "const text = $('Extrair dados').first().json.text.toLowerCase().trim();\nconst tempUserId = $('Buscar usuário').first().json.id;\nconst tempUserName = $('Buscar usuário').first().json.name;\nconst remoteJid = $('Extrair dados').first().json.remoteJid;\nconst phone = $('Extrair dados').first().json.phone;\nconst isEmail = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(text);\n// Qualquer coisa que não seja email vai para criar_novo (completa onboarding e libera o bot)\nconst action = isEmail ? 'buscar_email' : 'criar_novo';\nreturn [{ json: { action, email: isEmail ? text : null, tempUserId, tempUserName, remoteJid, phone } }];"
        }
      },
      {
        "id": "e300ef9d-6f04-4beb-9182-dd0441753bf8",
        "name": "Ação de vinculação",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 1,
        "position": [
          -656,
          400
        ],
        "parameters": {
          "dataType": "string",
          "value1": "={{ $json.action }}",
          "rules": {
            "rules": [
              {
                "value2": "buscar_email"
              },
              {
                "value2": "criar_novo",
                "output": 1
              }
            ]
          },
          "fallbackOutput": 2
        }
      },
      {
        "id": "8daf5654-91dc-4861-bb42-cfec04790070",
        "name": "Buscar conta por email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          -448,
          208
        ],
        "parameters": {
          "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?email=ilike.{{ $json.email }}&id=neq.{{ $json.tempUserId }}&select=id,name",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              }
            ]
          },
          "options": {}
        },
        "alwaysOutputData": true
      },
      {
        "id": "4aca80da-2da3-4ce2-a130-007779781383",
        "name": "Conta encontrada?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -224,
          208
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.id }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        }
      },
      {
        "id": "a9ea5d63-4792-484f-bec4-cc1a784edb15",
        "name": "Vincular phone à conta",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          0,
          0
        ],
        "parameters": {
          "method": "PATCH",
          "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?id=eq.{{ $json.id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ phone: $('Analisar resposta email').first().json.phone, onboarding_step: 'completo' }) }}",
          "options": {}
        }
      },
      {
        "id": "7c99ce37-0fcf-4d74-9785-e876d5bb53bb",
        "name": "Deletar usuário temporário",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          224,
          0
        ],
        "parameters": {
          "method": "DELETE",
          "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?id=eq.{{ $('Analisar resposta email').first().json.tempUserId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "e27d81a3-fc22-45ff-b47f-bb59d8ba5ef3",
        "name": "Msg conta vinculada",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          448,
          0
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ number: $('Analisar resposta email').first().json.remoteJid, text: '✅ *Conta vinculada com sucesso!*\\n\\nOlá, ' + $('Buscar conta por email').first().json.name + '! Agora posso te atender aqui no WhatsApp 🎉\\n\\nRegistre vendas, despesas ou agendamentos por aqui mesmo. Como posso te ajudar?' }) }}",
          "options": {}
        }
      },
      {
        "id": "6cc84960-589a-4cba-a8c1-bdd3d7412686",
        "name": "Confirmar nova conta",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          0,
          400
        ],
        "parameters": {
          "method": "PATCH",
          "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?id=eq.{{ $('Analisar resposta email').first().json.tempUserId }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ onboarding_step: 'completo' }) }}",
          "options": {}
        }
      },
      {
        "id": "e772eaeb-1dab-44d2-a7d0-0e005b971072",
        "name": "Msg nova conta criada",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          224,
          400
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ number: $('Analisar resposta email').first().json.remoteJid, text: 'Tudo bem! 😊 Já posso te ajudar por aqui.\\n\\nRegistre receitas, despesas, agendamentos e tarefas normalmente.\\n\\nSe quiser acessar o painel completo: 👉 *https://meusocio.app*' }) }}",
          "options": {}
        }
      },
      {
        "id": "4b91184f-3c04-4db3-b047-c8040484487b",
        "name": "Reperguntar email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          -448,
          608
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ number: $('Analisar resposta email').first().json.remoteJid, text: 'Tudo bem! 😊 Pode me enviar mensagens normalmente que já vou te ajudando.' }) }}",
          "options": {}
        }
      },
      {
        "id": "4e86423f-5006-49bc-9661-1cd0ca262a3a",
        "name": "Enviar resposta",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          880,
          1200
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ number: $json.phone, text: String($json.responseText || 'Desculpe, não entendi. Pode repetir?') }) }}",
          "options": {}
        },
        "continueOnFail": true
      },
      {
        "id": "a46d5625-b729-4a59-a5ef-250ac185fd20",
        "name": "Buscar histórico msgs",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          -880,
          624
        ],
        "parameters": {
          "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/messages?user_id=eq.{{ $('Buscar usuário').first().json.id }}&select=direction,content&order=created_at.desc&limit=8",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "continueOnFail": true,
        "alwaysOutputData": true
      },
      {
        "id": "243ce857-c12a-4c88-a26d-f7e6e5940e5b",
        "name": "Salvar msg usuário",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          224,
          624
        ],
        "parameters": {
          "method": "POST",
          "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ user_id: $('Buscar usuário').first().json.id, phone: $('Extrair dados').first().json.phone, content: $('Extrair dados').first().json.text, direction: 'inbound' }) }}",
          "options": {}
        },
        "continueOnFail": true
      },
      {
        "id": "e891723d-688b-4f48-9eb2-78059e65f575",
        "name": "Salvar msg bot",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          1104,
          1200
        ],
        "parameters": {
          "method": "POST",
          "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ user_id: $('Buscar usuário').first().json.id, phone: $('Extrair dados').first().json.phone, content: $('Interpretar GPT').first().json.responseText || '', direction: 'outbound' }) }}",
          "options": {}
        },
        "continueOnFail": true
      },
      {
        "id": "2daf1ea5-3ad6-4395-8a9f-f160fb0bf5a8",
        "name": "Resolver cliente TX",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          448,
          512
        ],
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst clientName = (item.client_name || item.description || '').trim();\nlet clientId = null;\n\nif (clientName && clientName.length >= 2) {\n  try {\n    const encoded = encodeURIComponent('%' + clientName + '%');\n    const resp = await this.helpers.httpRequest({\n      method: 'GET',\n      url: 'https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/clients?select=id,name&user_id=eq.' + item.userId + '&name=ilike.' + encoded + '&limit=1',\n      headers: {\n        'apikey': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8',\n        'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8'\n      }\n    });\n    if (Array.isArray(resp) && resp.length > 0) {\n      clientId = resp[0].id;\n    }\n  } catch(e) {\n    // clientId stays null — não bloqueia o fluxo\n  }\n}\n\nreturn [{ json: { ...item, clientId } }];"
        },
        "alwaysOutputData": true
      },
      {
        "id": "d5bdb9e5-3492-461d-8b0e-e30e45c804e3",
        "name": "É receita ou despesa?",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 1,
        "position": [
          672,
          512
        ],
        "parameters": {
          "dataType": "string",
          "value1": "={{ $json.intent }}",
          "rules": {
            "rules": [
              {
                "value2": "registrar_receita"
              },
              {
                "value2": "registrar_despesa",
                "output": 1
              }
            ]
          },
          "fallbackOutput": 0
        }
      },
      {
        "id": "a2e1f5c7-f869-47a7-965c-c5a13c2f049a",
        "name": "É áudio?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -1760,
          624
        ],
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{ $json.isAudio }}",
                "value2": true
              }
            ]
          }
        }
      },
      {
        "id": "102b57a0-211c-487c-a68d-ad022b3f487c",
        "name": "Baixar áudio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          -1536,
          192
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-production-e9a3.up.railway.app/chat/getBase64FromMediaMessage/meu-socio",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ message: { key: $('Extrair dados').first().json.messageKey } }) }}",
          "options": {}
        },
        "continueOnFail": true
      },
      {
        "id": "93bf4299-c238-4c69-ae3a-2b7fa2984cc4",
        "name": "Montar texto do áudio",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -880,
          192
        ],
        "parameters": {
          "jsCode": "const transcription = $('Chamar Whisper').first().json.text || '';\nconst userData = $('Extrair dados').first().json;\nreturn [{ json: { ...userData, text: transcription.trim(), isAudio: false } }];"
        }
      },
      {
        "id": "e234facb-0c37-4fae-9df3-0465e1640ab1",
        "name": "Montar prompt GPT",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -448,
          864
        ],
        "parameters": {
          "jsCode": "const u = $('Buscar usuário').first().json || {};\nconst extrair = $('Extrair dados').first().json || {};\nconst txs = (() => { try { return $('Buscar últimas transações').all().map(i => i.json).filter(t => t && t.amount); } catch(e) { return []; } })();\nconst agenda = (() => { try { return $('Buscar agenda proximos dias').all().map(i => i.json).filter(a => a && a.scheduled_at); } catch(e) { return []; } })();\nconst tarefas = (() => { try { return $('Buscar tarefas pendentes ctx').all().map(i => i.json).filter(t => t && t.title); } catch(e) { return []; } })();\nconst historico = (() => { try { const items = $('Buscar histórico msgs').all().map(i => i.json).filter(h => h && h.content && !h.error); return items.reverse(); } catch(e) { return []; } })();\n\nconst receita = txs.filter(t => t.type==='receita').reduce((s,t)=>s+parseFloat(t.amount||0),0);\nconst despesa = txs.filter(t => t.type==='despesa').reduce((s,t)=>s+parseFloat(t.amount||0),0);\nconst agendaStr = agenda.length ? agenda.map(a=>((a.scheduled_at||'').slice(0,16)) + ' - ' + (a.service||'?') + ' com ' + (a.client_name||'?')).join('; ') : 'Nenhum agendamento';\nconst tarefasStr = tarefas.length ? tarefas.map(t=>t.title).join('; ') : 'Nenhuma tarefa';\n\nconst primeiroNome = (u.name||'').split(' ')[0] || 'você';\nconst sistema = 'Você é o Sócio 🤝 — assistente pessoal de negócios de ' + (u.name||'você') + ' no WhatsApp. O nome do seu dono é ' + primeiroNome + ' — chame-o pelo primeiro nome nas respostas. Hoje: ' + new Date().toLocaleDateString('pt-BR') + '\\n\\n📊 RESUMO DO MÊS:\\n💰 Receitas: R$ ' + receita.toFixed(2) + '\\n💸 Despesas: R$ ' + despesa.toFixed(2) + '\\n✅ Líquido: R$ ' + (receita-despesa).toFixed(2) + '\\n🎯 Meta: R$ ' + (u.monthly_goal||0) + '\\n\\n📅 AGENDA PRÓXIMOS 7 DIAS: ' + agendaStr + '\\n📌 TAREFAS: ' + tarefasStr + '\\n🔄 ÚLTIMAS TRANSAÇÕES: ' + JSON.stringify(txs.slice(0,5)) + '\\n\\nREGRAS:\\n- Use o histórico abaixo para entender respostas curtas (\\'Amanhã\\', \\'Sim\\', números).\\n- Dados não informados: horário padrão 09:00, preço 0.\\n- Use emojis de forma natural: 💰 dinheiro, 📅 agenda, ✅ confirmação, ⚠️ alertas, 🎉 comemorações.\\n- REGISTRAR → OBRIGATÓRIO: responda EXCLUSIVAMENTE com JSON puro, sem nenhum texto antes ou depois. NUNCA responda com texto de confirmação para registros — apenas JSON:\\n  Receita: {\"intent\":\"registrar_receita\",\"amount\":NUM,\"description\":\"DESC\",\"client_name\":\"NOME_OU_VAZIO\"}\\n  Despesa: {\"intent\":\"registrar_despesa\",\"amount\":NUM,\"description\":\"DESC\",\"client_name\":\"NOME_OU_VAZIO\"}\\n  Agendamento: {\"intent\":\"registrar_agendamento\",\"service\":\"SVC\",\"client_name\":\"NOME\",\"scheduled_at\":\"YYYY-MM-DDTHH:MM:00\",\"price\":0} — scheduled_at SEMPRE no horário de Brasília (NÃO converter para UTC)\\n  Meta: {\"intent\":\"definir_meta\",\"amount\":NUM}\\n  Tarefa: {\"intent\":\"registrar_tarefa\",\"title\":\"TITULO\",\"priority\":\"alta|media|baixa\"}\\n  Pgto avulso: {\"intent\":\"registrar_pagamento_futuro\",\"amount\":NUM,\"description\":\"DESC\",\"due_date\":\"YYYY-MM-DD\"}\\n  Custo recorrente: {\"intent\":\"registrar_custo_recorrente\",\"name\":\"NOME\",\"amount\":NUM,\"due_day\":NUM}\\n- CONSULTAR → responda de forma direta e amigável com os dados disponíveis.\\n- Só peça mais informações se realmente necessário.\\n- RECORRENTE (ex: \\'aluguel todo dia 5\\'): {\"intent\":\"registrar_custo_recorrente\",\"name\":\"NOME\",\"amount\":NUM,\"due_day\":NUM}\\n- AVULSO (ex: \\'pagar Leo dia 20\\'): {\"intent\":\"registrar_pagamento_futuro\",\"amount\":NUM,\"description\":\"DESC\",\"due_date\":\"YYYY-MM-DD\"} — assume mês atual se não informado.\\n- Tom: moderno, acolhedor, direto — como um amigo entendido de negócios. Máximo 5 linhas.\\n- Corrija erros de digitação e capitalização nas respostas.';\n\n// Para mensagens de áudio, usar transcrição em vez de '__audio__'\nlet currentText = String(extrair.text || '');\ntry {\n  const audioTranscription = $('Montar texto do áudio').first().json.text;\n  if (audioTranscription && audioTranscription !== '__audio__' && audioTranscription.trim().length > 0) {\n    currentText = audioTranscription.trim();\n  }\n} catch(e) { /* não é fluxo de áudio, manter texto original */ }\n\n// Build history, removing duplicates of the current message at the END\n// (happens when Evolution API saves message before history is fetched)\nconst histMsgs = historico\n  .map(h => ({ role: h.direction === 'inbound' ? 'user' : 'assistant', content: String(h.content) }));\n\n// Remove last item if it's the same as current user message (dedup)\nif (histMsgs.length > 0) {\n  const last = histMsgs[histMsgs.length - 1];\n  if (last.role === 'user' && last.content === currentText) {\n    histMsgs.pop();\n  }\n}\n\nconst messages = [{ role: 'system', content: sistema }].concat(histMsgs).concat([{ role: 'user', content: currentText }]);\n\nreturn [{ json: { gptBody: JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.3, messages: messages }) } }];"
        }
      },
      {
        "id": "bb843939-582d-456c-aa21-b61d17d6b211",
        "name": "Base64 para Binary",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1328,
          192
        ],
        "parameters": {
          "jsCode": "const base64Raw = ($('Baixar áudio').first().json.base64 || '');\nconst base64Data = base64Raw.replace(/^data:[^;]+;base64,/, '');\nif (!base64Data) {\n  return [{ json: { hasAudio: false }, binary: {} }];\n}\nreturn [{\n  json: { hasAudio: true },\n  binary: {\n    data: {\n      data: base64Data,\n      mimeType: 'audio/ogg',\n      fileName: 'audio.ogg',\n    }\n  }\n}];"
        }
      },
      {
        "id": "8d80590c-6df1-4fcf-8722-6a250a493030",
        "name": "Chamar Whisper",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          -1104,
          192
        ],
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/audio/transcriptions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer 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"
              }
            ]
          },
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              },
              {
                "name": "model",
                "value": "whisper-1"
              },
              {
                "name": "language",
                "value": "pt"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "57976e59-ca41-4975-ac12-a2406162a2cf",
        "name": "Salvar pagamento futuro",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          448,
          1104
        ],
        "parameters": {
          "method": "POST",
          "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/transactions",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ user_id: $json.userId, type: 'despesa', amount: $json.amount, category: 'pagamento_futuro', description: $json.description || 'Pagamento', payment_method: 'outro', competence_date: $json.due_date || new Date().toISOString().substring(0,10), is_paid: false, paid_at: null }) }}",
          "options": {}
        },
        "continueOnFail": true
      },
      {
        "id": "c1b1b88b-56d3-42b5-8c00-02c5a1ade440",
        "name": "Confirmar pagamento futuro",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          672,
          1104
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ number: ($('Interpretar GPT').first().json.phone.includes('@') ? $('Interpretar GPT').first().json.phone : $('Interpretar GPT').first().json.phone + '@s.whatsapp.net'), text: '📋 Anotei o pagamento!\\n\\n💸 *' + $('Interpretar GPT').first().json.description + '*\\nValor: R$ ' + Number($('Interpretar GPT').first().json.amount).toFixed(2).replace('.',',') + '\\n📅 Vencimento: ' + ($('Interpretar GPT').first().json.due_date ? new Date($('Interpretar GPT').first().json.due_date + 'T12:00:00').toLocaleDateString(\\'pt-BR\\') : \\'a definir\\') + '\\n\\nVou te lembrar quando chegar a data! 🔔' }) }}",
          "options": {}
        }
      },
      {
        "id": "4d6ec0a6-6b0c-4d39-84ae-446e4ee383e7",
        "name": "Salvar custo recorrente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          448,
          1312
        ],
        "parameters": {
          "method": "POST",
          "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/costs_fixed",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Prefer",
                "value": "return=minimal"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ user_id: $json.userId, name: $json.name, amount: $json.amount, periodicity: 'mensal', category: 'outro', due_day: $json.due_day || null }) }}",
          "options": {}
        },
        "continueOnFail": true
      },
      {
        "id": "bfeffcfb-671a-451c-a077-800eeb4d78fe",
        "name": "Confirmar custo recorrente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 3,
        "position": [
          672,
          1312
        ],
        "parameters": {
          "method": "POST",
          "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "apikey",
                "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({ number: ($('Interpretar GPT').first().json.phone.includes('@') ? $('Interpretar GPT').first().json.phone : $('Interpretar GPT').first().json.phone + '@s.whatsapp.net'), text: '🔄 Custo fixo cadastrado!\\n\\n📝 *' + $('Interpretar GPT').first().json.name + '*\\nValor: R$ ' + Number($('Interpretar GPT').first().json.amount).toFixed(2).replace('.',',') + '/mês' + ($('Interpretar GPT').first().json.due_day ? '\\n📅 Todo dia ' + $('Interpretar GPT').first().json.due_day : '') + '\\n\\nVou considerar esse custo no seu financeiro! 💰' }) }}",
          "options": {}
        }
      },
      {
        "id": "f74cd77e-d419-421a-b073-194d01be0202",
        "name": "Norm histórico",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -656,
          624
        ],
        "parameters": {
          "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { _items: items, _source: 'historico' } }];"
        }
      },
      {
        "id": "25da1a90-ef98-482e-a9a1-277239a73231",
        "name": "Norm transações",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -880,
          768
        ],
        "parameters": {
          "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { _items: items, _source: 'transacoes' } }];"
        }
      },
      {
        "id": "c22ab321-8627-47dc-b32c-7649398dbec2",
        "name": "Norm agenda",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -880,
          928
        ],
        "parameters": {
          "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { _items: items, _source: 'agenda' } }];"
        }
      },
      {
        "id": "283f8492-abd8-4536-8ee4-7b4ae80040b9",
        "name": "Norm tarefas",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -880,
          1088
        ],
        "parameters": {
          "jsCode": "const items = $input.all().map(i => i.json);\nreturn [{ json: { _items: items, _source: 'tarefas' } }];"
        }
      },
      {
        "id": "3d76870d-b099-45ec-85bc-37294ab66cc8",
        "name": "Merge contexto",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2,
        "position": [
          -656,
          864
        ],
        "parameters": {
          "mode": "waitForAll",
          "options": {}
        }
      }
    ],
    "connections": {
      "Webhook WhatsApp": {
        "main": [
          [
            {
              "node": "Responder 200",
              "type": "main",
              "index": 0
            },
            {
              "node": "É mensagem recebida?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É mensagem recebida?": {
        "main": [
          [
            {
              "node": "Extrair dados",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extrair dados": {
        "main": [
          [
            {
              "node": "Tem texto?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tem texto?": {
        "main": [
          [
            {
              "node": "É áudio?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar usuário": {
        "main": [
          [
            {
              "node": "Usuário existe?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Usuário existe?": {
        "main": [
          [
            {
              "node": "Aguardando email?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Criar usuário novo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aguardando email?": {
        "main": [
          [
            {
              "node": "Analisar resposta email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Buscar histórico msgs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analisar resposta email": {
        "main": [
          [
            {
              "node": "Ação de vinculação",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ação de vinculação": {
        "main": [
          [
            {
              "node": "Buscar conta por email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Confirmar nova conta",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reperguntar email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar conta por email": {
        "main": [
          [
            {
              "node": "Conta encontrada?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Conta encontrada?": {
        "main": [
          [
            {
              "node": "Vincular phone à conta",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Confirmar nova conta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vincular phone à conta": {
        "main": [
          [
            {
              "node": "Deletar usuário temporário",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deletar usuário temporário": {
        "main": [
          [
            {
              "node": "Msg conta vinculada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Confirmar nova conta": {
        "main": [
          [
            {
              "node": "Msg nova conta criada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar usuário novo": {
        "main": [
          [
            {
              "node": "Enviar boas-vindas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar últimas transações": {
        "main": [
          [
            {
              "node": "Norm transações",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar agenda proximos dias": {
        "main": [
          [
            {
              "node": "Norm agenda",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GPT processar mensagem": {
        "main": [
          [
            {
              "node": "Interpretar GPT",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Interpretar GPT": {
        "main": [
          [
            {
              "node": "Qual intenção?",
              "type": "main",
              "index": 0
            },
            {
              "node": "Salvar msg usuário",
              "type": "main",
              "index": 0
            },
            {
              "node": "Enviar resposta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Qual intenção?": {
        "main": [
          [
            {
              "node": "Resolver cliente TX",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Buscar cliente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Salvar pagamento futuro",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "É meta?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar pagamento futuro": {
        "main": [
          []
        ]
      },
      "Salvar custo recorrente": {
        "main": [
          []
        ]
      },
      "É meta?": {
        "main": [
          [
            {
              "node": "Salvar meta",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "É tarefa?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É tarefa?": {
        "main": [
          [
            {
              "node": "Salvar tarefa",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Salvar custo recorrente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar receita no Supabase": {
        "main": [
          []
        ]
      },
      "Salvar despesa no Supabase": {
        "main": [
          []
        ]
      },
      "Buscar cliente": {
        "main": [
          [
            {
              "node": "Cliente existe?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cliente existe?": {
        "main": [
          [
            {
              "node": "Resolver cliente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Criar cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar cliente": {
        "main": [
          [
            {
              "node": "Resolver cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resolver cliente": {
        "main": [
          [
            {
              "node": "Salvar agendamento",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Salvar agendamento": {
        "main": [
          []
        ]
      },
      "Salvar meta": {
        "main": [
          []
        ]
      },
      "Salvar tarefa": {
        "main": [
          []
        ]
      },
      "Buscar tarefas pendentes ctx": {
        "main": [
          [
            {
              "node": "Norm tarefas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar histórico msgs": {
        "main": [
          [
            {
              "node": "Norm histórico",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Norm transações": {
        "main": [
          [
            {
              "node": "Buscar agenda proximos dias",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Norm agenda": {
        "main": [
          [
            {
              "node": "Buscar tarefas pendentes ctx",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar resposta": {
        "main": [
          [
            {
              "node": "Salvar msg bot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Resolver cliente TX": {
        "main": [
          [
            {
              "node": "É receita ou despesa?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É receita ou despesa?": {
        "main": [
          [
            {
              "node": "Salvar receita no Supabase",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Salvar despesa no Supabase",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É áudio?": {
        "main": [
          [
            {
              "node": "Baixar áudio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Buscar usuário",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Baixar áudio": {
        "main": [
          [
            {
              "node": "Base64 para Binary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar texto do áudio": {
        "main": [
          [
            {
              "node": "Buscar usuário",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Montar prompt GPT": {
        "main": [
          [
            {
              "node": "GPT processar mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Base64 para Binary": {
        "main": [
          [
            {
              "node": "Chamar Whisper",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chamar Whisper": {
        "main": [
          [
            {
              "node": "Montar texto do áudio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge contexto": {
        "main": [
          [
            {
              "node": "Montar prompt GPT",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Norm histórico": {
        "main": [
          [
            {
              "node": "Buscar últimas transações",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Norm tarefas": {
        "main": [
          [
            {
              "node": "Montar prompt GPT",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "White Criativa",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-14T19:26:11.643Z",
        "id": 205,
        "workflowId": "uJqVXqmvKIR8iJaV",
        "versionId": "391693e2-6aeb-4e4f-b8b4-2d51ff942b88",
        "event": "activated",
        "userId": "72789484-e3fb-4f87-a702-6af6db75bac8"
      },
      {
        "createdAt": "2026-04-14T19:26:11.619Z",
        "id": 204,
        "workflowId": "uJqVXqmvKIR8iJaV",
        "versionId": "391693e2-6aeb-4e4f-b8b4-2d51ff942b88",
        "event": "deactivated",
        "userId": "72789484-e3fb-4f87-a702-6af6db75bac8"
      }
    ]
  }
}