n8n/workflows/01-main-flow.json
{
  "name": "Socio - Fluxo Principal WhatsApp",
  "nodes": [
    {
      "id": "webhook-main",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "whatsapp"
    },
    {
      "id": "respond-ok",
      "name": "Responder 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 160],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\":true}"
      }
    },
    {
      "id": "filter-inbound",
      "name": "É mensagem recebida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.body.event }}", "operation": "equal", "value2": "messages.upsert" }
          ],
          "boolean": [
            { "value1": "={{ $json.body.data.key.fromMe }}", "operation": "equal", "value2": false }
          ]
        },
        "combineOperation": "all"
      }
    },
    {
      "id": "extract-data",
      "name": "Extrair dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst data = body.data;\nconst key = data.key;\nconst remoteJid = key.remoteJid;\nlet phone = remoteJid.replace(/@.*$/, '');\nif (!phone.startsWith('55')) phone = '55' + phone;\nlet text = '';\nif (data.messageType === 'conversation') {\n  text = data.message?.conversation || '';\n} else if (data.messageType === 'extendedTextMessage') {\n  text = data.message?.extendedTextMessage?.text || '';\n}\nreturn [{ json: { phone, remoteJid, pushName: data.pushName || 'Amigo', text: text.trim(), instanceName: body.instance } }];"
      }
    },
    {
      "id": "has-text",
      "name": "Tem texto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.text }}", "operation": "isNotEmpty" }]
        }
      }
    },
    {
      "id": "buscar-usuario",
      "name": "Buscar usuário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "alwaysOutputData": true,
      "position": [1120, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?phone=eq.{{ $json.phone }}&select=id,name,email,profile_type,monthly_goal,onboarding_step&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNzE4NzAsImV4cCI6MjA4OTk0Nzg3MH0.7XW8nHUNrECAAc8Ynn6DbKIwvNVnGbQk6G7KvhvH6E0" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNzE4NzAsImV4cCI6MjA4OTk0Nzg3MH0.7XW8nHUNrECAAc8Ynn6DbKIwvNVnGbQk6G7KvhvH6E0" }
          ]
        }
      }
    },
    {
      "id": "usuario-existe",
      "name": "Usuário existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 300],
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.id }}", "operation": "isNotEmpty" }]
        }
      }
    },
    {
      "id": "criar-usuario",
      "name": "Criar usuário novo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1560, 460],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNzE4NzAsImV4cCI6MjA4OTk0Nzg3MH0.7XW8nHUNrECAAc8Ynn6DbKIwvNVnGbQk6G7KvhvH6E0" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNzE4NzAsImV4cCI6MjA4OTk0Nzg3MH0.7XW8nHUNrECAAc8Ynn6DbKIwvNVnGbQk6G7KvhvH6E0" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ phone: $('Extrair dados').first().json.phone, name: $('Extrair dados').first().json.pushName, onboarding_step: 'aguardando_email', profile_type: 'outro' }) }}"
      }
    },
    {
      "id": "boas-vindas",
      "name": "Enviar boas-vindas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1780, 460],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('Extrair dados').first().json.remoteJid, text: 'Olá, ' + $('Extrair dados').first().json.pushName + '! 👋 Sou o *Meu Sócio*, seu parceiro de negócios no WhatsApp.\\n\\nVocê já tem conta no *Meu Sócio app*? Se sim, me diga seu *email de cadastro* para eu vincular sua conta e tudo ficar sincronizado! 📲\\n\\nSe não tem conta ainda, responda *não* 😊' }) }}"
      }
    },
    {
      "id": "buscar-contexto",
      "name": "Buscar últimas transações",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "alwaysOutputData": true,
      "position": [1560, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/transactions?user_id=eq.{{ $json.id }}&order=created_at.desc&limit=5&select=type,amount,description,competence_date",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNzE4NzAsImV4cCI6MjA4OTk0Nzg3MH0.7XW8nHUNrECAAc8Ynn6DbKIwvNVnGbQk6G7KvhvH6E0" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNzE4NzAsImV4cCI6MjA4OTk0Nzg3MH0.7XW8nHUNrECAAc8Ynn6DbKIwvNVnGbQk6G7KvhvH6E0" }
          ]
        }
      }
    },
    {
      "id": "gpt-processar",
      "name": "GPT processar mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1780, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer 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" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ model: 'gpt-4o-mini', messages: [ { role: 'system', content: 'Você é o Sócio, parceiro de negócios para autônomos brasileiros. Hoje é ' + new Date().toLocaleDateString('pt-BR') + '.\\n\\nPersonalidade: acolhedor, direto, usa emojis com moderação, nunca formal demais. Trate o usuário pelo nome sempre que possível.\\n\\nRegras:\\n- Receita/venda/serviço/recebi → JSON: {\"intent\":\"registrar_receita\",\"amount\":NUMERO,\"description\":\"DESCRICAO\"}\\n- Despesa/gasto/paguei/comprei → JSON: {\"intent\":\"registrar_despesa\",\"amount\":NUMERO,\"description\":\"DESCRICAO\"}\\n- Agendar/marcar/consulta/horário → JSON: {\"intent\":\"registrar_agendamento\",\"service\":\"SERVICO\",\"client_name\":\"NOME\",\"scheduled_at\":\"YYYY-MM-DDTHH:MM:00\",\"price\":0}\\n- Meta/objetivo/quero faturar/minha meta → JSON: {\"intent\":\"definir_meta\",\"amount\":NUMERO}\\n- Tarefa/fazer/lembrar/não esquecer/pendente → JSON: {\"intent\":\"registrar_tarefa\",\"title\":\"TITULO\",\"priority\":\"alta|media|baixa\"}\\n- Qualquer outra mensagem → responda de forma útil, amigável e com emojis. Máximo 3 linhas.\\n\\nUsuário: ' + $('Buscar usuário').first().json.name + ($('Buscar usuário').first().json.email ? ' | Email cadastrado: ' + $('Buscar usuário').first().json.email : '') + '\\nÚltimas transações: ' + JSON.stringify($('Buscar últimas transações').first().json) }, { role: 'user', content: $('Extrair dados').first().json.text } ] }) }}"
      }
    },
    {
      "id": "parse-gpt",
      "name": "Interpretar GPT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300],
      "parameters": {
        "jsCode": "const content = $input.first().json.choices[0].message.content.trim();\nconst userId = $('Buscar usuário').first().json.id;\nconst phone = $('Extrair dados').first().json.remoteJid;\ntry {\n  const jsonMatch = content.match(/\\{[^{}]+\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    if (parsed.intent === 'registrar_receita' || parsed.intent === 'registrar_despesa') {\n      return [{ json: { intent: parsed.intent, amount: parsed.amount, description: parsed.description, userId, phone } }];\n    }\n    if (parsed.intent === 'registrar_agendamento') {\n      return [{ json: { intent: parsed.intent, service: parsed.service, client_name: parsed.client_name, scheduled_at: parsed.scheduled_at, price: parsed.price || 0, userId, phone } }];\n    }\n    if (parsed.intent === 'definir_meta') {\n      return [{ json: { intent: parsed.intent, amount: parsed.amount, userId, phone } }];\n    }\n    if (parsed.intent === 'registrar_tarefa') {\n      return [{ json: { intent: parsed.intent, title: parsed.title, priority: parsed.priority || 'media', userId, phone } }];\n    }\n  }\n} catch(e) {}\nreturn [{ json: { intent: 'resposta', responseText: content, userId, phone } }];"
      }
    },
    {
      "id": "qual-intent",
      "name": "Qual intenção?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [2220, 300],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.intent }}",
        "rules": {
          "rules": [
            { "value2": "registrar_receita", "output": 0 },
            { "value2": "registrar_despesa", "output": 1 },
            { "value2": "registrar_agendamento", "output": 2 }
          ]
        },
        "fallbackOutput": 3
      }
    },
    {
      "id": "salvar-receita",
      "name": "Salvar receita no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2440, 160],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/transactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $json.userId, type: 'receita', amount: $json.amount, category: 'servico', description: $json.description, payment_method: 'pix', competence_date: new Date().toISOString().substring(0,10) }) }}"
      }
    },
    {
      "id": "salvar-despesa",
      "name": "Salvar despesa no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2440, 300],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/transactions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $json.userId, type: 'despesa', amount: $json.amount, category: 'operacional', description: $json.description, payment_method: 'pix', competence_date: new Date().toISOString().substring(0,10) }) }}"
      }
    },
    {
      "id": "confirmar-receita",
      "name": "Confirmar receita",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2660, 160],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('Interpretar GPT').first().json.phone, text: 'Show! 💰 Anotei aqui:\\n\\n*+R$ ' + Number($('Interpretar GPT').first().json.amount).toFixed(2).replace('.',',') + '* — ' + $('Interpretar GPT').first().json.description + '\\n📅 Hoje\\n\\nContinuando assim você chega na meta! 🚀\\n🔗 ' + 'https://socio-painel.vercel.app' }) }}"
      }
    },
    {
      "id": "confirmar-despesa",
      "name": "Confirmar despesa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2660, 300],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('Interpretar GPT').first().json.phone, text: 'Anotado! 📝 Despesa registrada:\\n\\n*-R$ ' + Number($('Interpretar GPT').first().json.amount).toFixed(2).replace('.',',') + '* — ' + $('Interpretar GPT').first().json.description + '\\n📅 Hoje\\n\\n🔗 ' + 'https://socio-painel.vercel.app' }) }}"
      }
    },
    {
      "id": "salvar-meta",
      "name": "Salvar meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2440, 580],
      "parameters": {
        "method": "PATCH",
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?id=eq.{{ $json.userId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ monthly_goal: $json.amount }) }}"
      }
    },
    {
      "id": "confirmar-meta",
      "name": "Confirmar meta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2660, 580],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('Interpretar GPT').first().json.phone, text: '🎯 Meta definida!\\n\\n*R$ ' + Number($('Interpretar GPT').first().json.amount).toLocaleString('pt-BR') + '* este mês.\\n\\nVou te avisar todos os dias como você está progredindo. Bora lá! 💪' }) }}"
      }
    },
    {
      "id": "if-meta",
      "name": "É meta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2440, 580],
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.intent }}", "operation": "equal", "value2": "definir_meta" }]
        }
      }
    },
    {
      "id": "if-tarefa",
      "name": "É tarefa?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2440, 720],
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.intent }}", "operation": "equal", "value2": "registrar_tarefa" }]
        }
      }
    },
    {
      "id": "salvar-tarefa",
      "name": "Salvar tarefa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2440, 660],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/tasks",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
          { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Prefer", "value": "return=minimal" }
        ]},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $json.userId, title: $json.title, priority: $json.priority || 'media', due_date: new Date().toISOString().substring(0,10) }) }}"
      }
    },
    {
      "id": "confirmar-tarefa",
      "name": "Confirmar tarefa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2660, 660],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610" },
          { "name": "Content-Type", "value": "application/json" }
        ]},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('Interpretar GPT').first().json.phone, text: '✅ Anotei!\\n\\n📝 *' + $('Interpretar GPT').first().json.title + '*\\nPrioridade: ' + ($('Interpretar GPT').first().json.priority || 'média') + '\\n\\nVer todas as tarefas: https://socio-painel.vercel.app/tarefas' }) }}"
      }
    },
    {
      "id": "buscar-cliente",
      "name": "Buscar cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "alwaysOutputData": true,
      "position": [2440, 440],
      "parameters": {
        "method": "GET",
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/clients?user_id=eq.{{ $json.userId }}&name=ilike.*{{ encodeURIComponent($json.client_name) }}*&select=id,name&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" }
          ]
        }
      }
    },
    {
      "id": "cliente-existe",
      "name": "Cliente existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2440, 440],
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.id }}", "operation": "isNotEmpty" }]
        }
      }
    },
    {
      "id": "criar-cliente",
      "name": "Criar cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2640, 540],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/clients",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
          { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Prefer", "value": "return=representation" }
        ]},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $('Interpretar GPT').first().json.userId, name: $('Interpretar GPT').first().json.client_name, status: 'active', last_contact: new Date().toISOString().substring(0,10) }) }}"
      }
    },
    {
      "id": "resolver-cliente",
      "name": "Resolver cliente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 440],
      "parameters": {
        "jsCode": "const agendamento = $('Interpretar GPT').first().json;\nconst clientSearch = $input.first().json;\nconst clientId = clientSearch.id || null;\nreturn [{ json: { ...agendamento, clientId } }];"
      }
    },
    {
      "id": "salvar-agendamento",
      "name": "Salvar agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2840, 440],
      "parameters": {
        "method": "POST",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/appointments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ user_id: $json.userId, client_id: $json.clientId || null, service: $json.service, scheduled_at: $json.scheduled_at, price: $json.price, status: 'confirmado', notes: $json.client_name }) }}"
      }
    },
    {
      "id": "confirmar-agendamento",
      "name": "Confirmar agendamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2660, 440],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('Interpretar GPT').first().json.phone, text: '📅 *Agendamento confirmado!*\\n\\n👤 ' + $('Interpretar GPT').first().json.client_name + '\\n📋 ' + $('Interpretar GPT').first().json.service + '\\n🕐 ' + new Date($('Interpretar GPT').first().json.scheduled_at).toLocaleString('pt-BR', {day:'2-digit',month:'2-digit',hour:'2-digit',minute:'2-digit'}) + '\\n💰 R$ ' + Number($('Interpretar GPT').first().json.price).toFixed(2).replace('.',',') + '\\n\\n🔗 Ver agenda: https://socio-painel.vercel.app/agenda' }) }}"
      }
    },
    {
      "id": "check-onboarding",
      "name": "Aguardando email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 140],
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.onboarding_step }}", "operation": "equal", "value2": "aguardando_email" }]
        }
      }
    },
    {
      "id": "parse-email-resp",
      "name": "Analisar resposta email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 60],
      "parameters": {
        "jsCode": "const text = $('Extrair dados').first().json.text.toLowerCase().trim();\nconst tempUserId = $('Buscar usuário').first().json.id;\nconst tempUserName = $('Buscar usuário').first().json.name;\nconst remoteJid = $('Extrair dados').first().json.remoteJid;\nconst phone = $('Extrair dados').first().json.phone;\nconst isEmail = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(text);\nconst isNao = /^n[aã]o$/.test(text) || text.includes('nao tenho') || text.includes('não tenho');\nconst action = isEmail ? 'buscar_email' : (isNao ? 'criar_novo' : 'reperguntar');\nreturn [{ json: { action, email: isEmail ? text : null, tempUserId, tempUserName, remoteJid, phone } }];"
      }
    },
    {
      "id": "switch-email-action",
      "name": "Ação de vinculação",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1780, 60],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.action }}",
        "rules": { "rules": [{ "value2": "buscar_email", "output": 0 }, { "value2": "criar_novo", "output": 1 }] },
        "fallbackOutput": 2
      }
    },
    {
      "id": "buscar-por-email",
      "name": "Buscar conta por email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "alwaysOutputData": true,
      "position": [2000, -80],
      "parameters": {
        "method": "GET",
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?email=eq.{{ encodeURIComponent($json.email) }}&id=neq.{{ $json.tempUserId }}&select=id,name",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
          { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" }
        ]}
      }
    },
    {
      "id": "conta-encontrada",
      "name": "Conta encontrada?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [2220, -80],
      "parameters": {
        "conditions": { "string": [{ "value1": "={{ $json.id }}", "operation": "isNotEmpty" }] }
      }
    },
    {
      "id": "vincular-conta",
      "name": "Vincular phone à conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2440, -200],
      "parameters": {
        "method": "PATCH",
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?id=eq.{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
          { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
          { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" }
        ]},
        "sendBody": true, "contentType": "raw", "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ phone: $('Analisar resposta email').first().json.phone }) }}"
      }
    },
    {
      "id": "deletar-temp",
      "name": "Deletar usuário temporário",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2660, -200],
      "parameters": {
        "method": "DELETE",
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?id=eq.{{ $('Analisar resposta email').first().json.tempUserId }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
          { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" }
        ]}
      }
    },
    {
      "id": "msg-vinculado",
      "name": "Msg conta vinculada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2880, -200],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610" },
          { "name": "Content-Type", "value": "application/json" }
        ]},
        "sendBody": true, "contentType": "raw", "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('Analisar resposta email').first().json.remoteJid, text: '✅ *Conta vinculada com sucesso!*\\n\\nOlá, ' + $('Buscar conta por email').first().json.name + '! Agora posso te atender aqui no WhatsApp 🎉\\n\\nRegistre vendas, despesas ou agendamentos por aqui mesmo. Como posso te ajudar?' }) }}"
      }
    },
    {
      "id": "confirmar-nova-conta",
      "name": "Confirmar nova conta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2440, 0],
      "parameters": {
        "method": "PATCH",
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?id=eq.{{ $('Analisar resposta email').first().json.tempUserId }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
          { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
          { "name": "Content-Type", "value": "application/json" }, { "name": "Prefer", "value": "return=minimal" }
        ]},
        "sendBody": true, "contentType": "raw", "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ onboarding_step: 'aguardando_email' }) }}"
      }
    },
    {
      "id": "msg-nova-conta",
      "name": "Msg nova conta criada",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2660, 0],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610" },
          { "name": "Content-Type", "value": "application/json" }
        ]},
        "sendBody": true, "contentType": "raw", "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('Analisar resposta email').first().json.remoteJid, text: 'Para aproveitar tudo que o *Meu Sócio* oferece, crie sua conta gratuita em:\\n\\n👉 *https://socio-painel.vercel.app*\\n\\nLeva menos de 1 minuto! Depois volte aqui e me manda seu *email de cadastro* para eu te reconhecer 😊' }) }}"
      }
    },
    {
      "id": "msg-reperguntar",
      "name": "Reperguntar email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2000, 120],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610" },
          { "name": "Content-Type", "value": "application/json" }
        ]},
        "sendBody": true, "contentType": "raw", "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $('Analisar resposta email').first().json.remoteJid, text: 'Hmm, não entendi 😅\\n\\nMe diga seu *email de cadastro* no Meu Sócio app, ou responda *não* se ainda não tem conta.' }) }}"
      }
    },
    {
      "id": "enviar-resposta",
      "name": "Enviar resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [2660, 440],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $json.phone, text: $json.responseText }) }}"
      }
    }
  ],
  "connections": {
    "Webhook WhatsApp": { "main": [[{ "node": "Responder 200", "type": "main", "index": 0 }, { "node": "É mensagem recebida?", "type": "main", "index": 0 }]] },
    "É mensagem recebida?": { "main": [[{ "node": "Extrair dados", "type": "main", "index": 0 }], []] },
    "Extrair dados": { "main": [[{ "node": "Tem texto?", "type": "main", "index": 0 }]] },
    "Tem texto?": { "main": [[{ "node": "Buscar usuário", "type": "main", "index": 0 }], []] },
    "Buscar usuário": { "main": [[{ "node": "Usuário existe?", "type": "main", "index": 0 }]] },
    "Usuário existe?": { "main": [[{ "node": "Aguardando email?", "type": "main", "index": 0 }], [{ "node": "Criar usuário novo", "type": "main", "index": 0 }]] },
    "Aguardando email?": { "main": [[{ "node": "Analisar resposta email", "type": "main", "index": 0 }], [{ "node": "Buscar últimas transações", "type": "main", "index": 0 }]] },
    "Analisar resposta email": { "main": [[{ "node": "Ação de vinculação", "type": "main", "index": 0 }]] },
    "Ação de vinculação": { "main": [[{ "node": "Buscar conta por email", "type": "main", "index": 0 }], [{ "node": "Confirmar nova conta", "type": "main", "index": 0 }], [{ "node": "Reperguntar email", "type": "main", "index": 0 }]] },
    "Buscar conta por email": { "main": [[{ "node": "Conta encontrada?", "type": "main", "index": 0 }]] },
    "Conta encontrada?": { "main": [[{ "node": "Vincular phone à conta", "type": "main", "index": 0 }], [{ "node": "Confirmar nova conta", "type": "main", "index": 0 }]] },
    "Vincular phone à conta": { "main": [[{ "node": "Deletar usuário temporário", "type": "main", "index": 0 }]] },
    "Deletar usuário temporário": { "main": [[{ "node": "Msg conta vinculada", "type": "main", "index": 0 }]] },
    "Confirmar nova conta": { "main": [[{ "node": "Msg nova conta criada", "type": "main", "index": 0 }]] },
    "Criar usuário novo": { "main": [[{ "node": "Enviar boas-vindas", "type": "main", "index": 0 }]] },
    "Buscar últimas transações": { "main": [[{ "node": "GPT processar mensagem", "type": "main", "index": 0 }]] },
    "GPT processar mensagem": { "main": [[{ "node": "Interpretar GPT", "type": "main", "index": 0 }]] },
    "Interpretar GPT": { "main": [[{ "node": "Qual intenção?", "type": "main", "index": 0 }]] },
    "Qual intenção?": { "main": [[{ "node": "Salvar receita no Supabase", "type": "main", "index": 0 }], [{ "node": "Salvar despesa no Supabase", "type": "main", "index": 0 }], [{ "node": "Buscar cliente", "type": "main", "index": 0 }], [{ "node": "É meta?", "type": "main", "index": 0 }]] },
    "É meta?": { "main": [[{ "node": "Salvar meta", "type": "main", "index": 0 }], [{ "node": "É tarefa?", "type": "main", "index": 0 }]] },
    "É tarefa?": { "main": [[{ "node": "Salvar tarefa", "type": "main", "index": 0 }], [{ "node": "Enviar resposta", "type": "main", "index": 0 }]] },
    "Salvar receita no Supabase": { "main": [[{ "node": "Confirmar receita", "type": "main", "index": 0 }]] },
    "Salvar despesa no Supabase": { "main": [[{ "node": "Confirmar despesa", "type": "main", "index": 0 }]] },
    "Buscar cliente": { "main": [[{ "node": "Cliente existe?", "type": "main", "index": 0 }]] },
    "Cliente existe?": { "main": [[{ "node": "Resolver cliente", "type": "main", "index": 0 }], [{ "node": "Criar cliente", "type": "main", "index": 0 }]] },
    "Criar cliente": { "main": [[{ "node": "Resolver cliente", "type": "main", "index": 0 }]] },
    "Resolver cliente": { "main": [[{ "node": "Salvar agendamento", "type": "main", "index": 0 }]] },
    "Salvar agendamento": { "main": [[{ "node": "Confirmar agendamento", "type": "main", "index": 0 }]] },
    "Salvar meta": { "main": [[{ "node": "Confirmar meta", "type": "main", "index": 0 }]] },
    "Salvar tarefa": { "main": [[{ "node": "Confirmar tarefa", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "whatsapp" }, { "name": "socio" }]
}
