n8n/workflows/05-alerta-inativos.json
{
  "name": "Socio - Alerta Clientes Inativos (Semanal)",
  "nodes": [
    {
      "id": "cron-inativos",
      "name": "Toda segunda 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 12 * * 1" }] }
      }
    },
    {
      "id": "buscar-usuarios",
      "name": "Buscar usuários",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/users?select=id,name,phone&phone=not.is.null&onboarding_step=neq.aguardando_email",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNzE4NzAsImV4cCI6MjA4OTk0Nzg3MH0.7XW8nHUNrECAAc8Ynn6DbKIwvNVnGbQk6G7KvhvH6E0" },
          { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNzE4NzAsImV4cCI6MjA4OTk0Nzg3MH0.7XW8nHUNrECAAc8Ynn6DbKIwvNVnGbQk6G7KvhvH6E0" }
        ]}
      }
    },
    {
      "id": "loop-usuarios",
      "name": "Loop por usuário",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [680, 300],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "buscar-inativos",
      "name": "Clientes inativos 30+ dias",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "alwaysOutputData": true,
      "position": [900, 300],
      "parameters": {
        "method": "GET",
        "url": "=https://qjgjqrhsrfxfcmxhuirf.supabase.co/rest/v1/clients?user_id=eq.{{ $('Loop por usuário').item.json.id }}&last_contact=lte.{{ new Date(Date.now() - 30*86400000).toISOString().substring(0,10) }}&status=eq.active&select=name,phone,last_contact,total_spent&order=last_contact.asc&limit=5",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" },
          { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqZ2pxcmhzcmZ4ZmNteGh1aXJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM3MTg3MCwiZXhwIjoyMDg5OTQ3ODcwfQ.hjH_yRcQdDAFE-Qk1xNB1tqmz4Dw6udrRNjy4DsUrU8" }
        ]}
      }
    },
    {
      "id": "tem-inativos",
      "name": "Tem inativos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 300],
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.name }}", "operation": "isNotEmpty" }]
        }
      }
    },
    {
      "id": "montar-alerta",
      "name": "Montar alerta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200],
      "parameters": {
        "jsCode": "const user = $('Loop por usuário').item.json;\nconst inativos = $('Clientes inativos 30+ dias').all().map(i => i.json).filter(c => c && c.name);\nif (inativos.length === 0) return [];\nconst lista = inativos.map(c => {\n  const dias = Math.floor((Date.now() - new Date(c.last_contact).getTime()) / 86400000);\n  return `👤 *${c.name}* — ${dias} dias sem contato`;\n}).join('\\n');\nconst texto = `📢 *Clientes para reativar esta semana!*\\n\\n${lista}\\n\\n💡 Que tal mandar uma mensagem para eles hoje? Clientes inativos são oportunidades esperando! 🚀\\n\\n🔗 Ver clientes: https://socio-painel.vercel.app/clientes`;\nreturn [{ json: { userPhone: user.phone, userName: user.name, texto, total: inativos.length } }];"
      }
    },
    {
      "id": "enviar-alerta",
      "name": "Enviar alerta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1560, 200],
      "parameters": {
        "method": "POST",
        "url": "https://evolution-api-production-e9a3.up.railway.app/message/sendText/meu-socio",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "762c9cac5efdde8e3b0aee288580ac2a3b11495fa892c757b5bc18dd2b0ec610" },
          { "name": "Content-Type", "value": "application/json" }
        ]},
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ number: $json.userPhone + '@s.whatsapp.net', text: $json.texto }) }}"
      }
    }
  ],
  "connections": {
    "Toda segunda 9h": { "main": [[{ "node": "Buscar usuários", "type": "main", "index": 0 }]] },
    "Buscar usuários": { "main": [[{ "node": "Loop por usuário", "type": "main", "index": 0 }]] },
    "Loop por usuário": { "main": [[{ "node": "Clientes inativos 30+ dias", "type": "main", "index": 0 }], []] },
    "Clientes inativos 30+ dias": { "main": [[{ "node": "Tem inativos?", "type": "main", "index": 0 }]] },
    "Tem inativos?": { "main": [[{ "node": "Montar alerta", "type": "main", "index": 0 }], [{ "node": "Loop por usuário", "type": "main", "index": 0 }]] },
    "Montar alerta": { "main": [[{ "node": "Enviar alerta", "type": "main", "index": 0 }]] },
    "Enviar alerta": { "main": [[{ "node": "Loop por usuário", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "socio" }, { "name": "clientes" }]
}
